[2011-03-17 18:41] RhysU opened #2 "ANSI escape sequences"
ANSI escape sequences appear as line noise.  It seems from looking at Dr. Chip's ANSIEsc plugin that there may be no clean way to handle these shy of patching vim.  Please consider adding a 'col -b' or similar filtering step to remove ANSI escapes.

For example, 'PAGER=vimpager.sh git log' should show quite a bit of escaping that it would be ideal to clean up automagically.

[2011-03-20 10:34] #2 closed, assigned to nobody

[2011-03-23 01:21] zeekay opened #3 "Not able to read from stdin on mac"
% man cat
sed: -: No such file or directory
Vim: Reading from stdin...

[2011-03-24 19:19] #3 closed, assigned to nobody

[2011-04-10 00:51] Raimondi opened #5 "vimpager_use_gui does not open MacVim"
With 1.4.5 I can use vimpager, but I have this line in my vimrc:

[code]

but it keeps opening vim in the terminal. Any pointers on troubleshooting this? I'm using MacVim.

[2011-04-11 22:32] #5 closed, assigned to nobody

[2011-04-14 09:27] sirupsen opened #6 "`sed` error when lauching `vimpager`"
Whenever I try to pipe something to vimpager, I get this error:

[code]

Any ideas?

[2011-04-21 02:25] #6 closed, assigned to nobody

[2011-05-07 03:46] marcetcheverry opened #8 "Add scrolloff=5"
Add scrolloff=5 so when searching manpages (which is done a lot) we can see the context of our search hit.

Example 'man curl', search for 'directory' and press n a few times. do it again with scrolloff=5 to see the difference

[2011-05-07 06:16] #8 closed, assigned to nobody

[2011-05-22 14:50] sbc opened #9 "Getting "cannot allocate color" errors"
When I try to use vimpager wth MacVim, I get a few screenfuls of "Cannot allocate color" errors before I'm able to view my file. When I open the same file in vim I have no such problems. The same executable is being used in both cases.

Any ideas how to fix this?

[2011-05-24 19:48] skeept opened #10 "vimrc configuration just for vimpager"
Hi, I have been using vimpager more lately. Since vimpager reads vim .vimrc
it ends up with some settings that I prefer to have for text editing which I would like
to turn off when in vimpager mode.

Is there any way you can modify the script to either read an alternate vimrc file
(maybe specified in a enviroment variable VIMPAGER_RC), if this variable is null just go with the
default.
Or alternat

[2011-05-25 13:54] Vampire opened #11 "doesn't play nicely with git"
vimpager as pager doesn't work nicely with git. Maybe git is just too less specific implemented and there is no other option than making git use less instead of pager. I know the configuration option core.pager of git where I can supply any pager I want and it works if I set less there. I just thought I mention here that it doesn't play nicely in case you can and want do something about it. One go

[2011-05-25 23:08] #9 closed, assigned to nobody

[2011-06-24 03:10] #10 closed, assigned to nobody

[2011-06-25 03:06] joshdick opened #14 "vimpager's use of --noplugin interferes with fugitive statusline"
I use the fugitive plugin for vim (loaded via vundle), and my vim statusline includes "%{fugitive#statusline()}". Since vimpager starts vim with --noplugin, the fugitive#statusline() function doesn't exist and vim shows an error whenever it is invoked via vimpager: "E117: Unknown function: fugitive#statusline".

I tried to have a conditional "if exists()" block in my .vimrc to check whether the fu

[2011-06-25 16:06] #14 closed, assigned to nobody

[2011-06-28 05:41] terinjokes opened #15 "--no-plugins"
Was just wondering if there was a reason you were launching vim with --no-plugins. It causes a ton of errors on my end (my statusline assumes that certain plugins are loaded…)

[2011-06-30 22:05] #15 closed, assigned to nobody

[2011-07-22 22:00] trevor opened #17 "mouse=a"
i don't appear to receive mouse support with the present mouse=h, mouse=a works

[2011-07-25 17:46] #17 closed, assigned to nobody

[2011-08-21 15:41] ghost opened #18 "less.vim forces vim to use the default syntax color"
Hi,
I found a small problem around the vim-launching process of vimpager.

Although if you are setting your own `highlight`s in your .vimrc, vimpager sets syntax highlights to the default of your colorscheme during the launching process.

**See:**
**https://github.com/rkitover/vimpager/blob/master/vimpager#L177**
(Line 177 and 186)

The problem is that since these lines call `macros/less.vim` _aft

[2011-09-15 00:06] dbb opened #19 "Visual selection is not inserted to X selection"
I normally use vim with `mouse=a`, so when I highlight some text with the mouse in urxvt, that selection is put into the primary X selection. However, with vimpager that is not the case. It seems that any selected text does not update the X selection. If I write the contents of the pager to a file, then open that file for editing, the X selection still does not work properly. But, if I quit vim, t

[2011-11-15 09:54] #18 closed, assigned to nobody

[2011-11-22 06:20] lucc opened #21 "can't open $MYVIMRC (version 1.6)"
I'm using
system: Mac OS X (10.6.8)
vim: 7.3.315 (MacVim, compiled with brew)
vimpager: 1.6
If I use vimpager to read a file or view a man page I get this error inside vim, before the contents are displayed correctly:

[code]

I have searched the source file of vimpager but only found four occurrences of the string "MYVIMRC", all in command lines to call vim but none where the variable was set. Bu

[2011-11-24 09:06] #21 closed, assigned to nobody

[2011-12-28 15:36] eric-wood opened #22 "Doesn't play nice with binding j and k to gj and gk"
I recently added the following bindings to my .vimrc and it's been interfering with Vimpager:

[code]

Normally, Vimpager behaves like less in that moving up and down scrolls rather than moving the cursor, but this binding messes that up.

[2012-01-04 04:34] #19 closed, assigned to nobody

[2012-01-05 09:07] ShadowStar opened #24 "Problem of col"
While open large string stream like `git log -p` will got warning message `col: Illegal byte sequence`, and the string-stream be cut off.
I haven't Linux, Just tested on Mac OS X Lion.

[2012-01-06 19:45] #22 closed, assigned to nobody

[2012-01-11 08:10] #24 closed, assigned to nobody

[2012-01-26 07:42] clvv opened #25 "Custom Filetype Detection Support?"
Vimpager right now does some basic filetype detection with `do_ptree`. But this feature is not easily extendable without touching vimpager itself.

The best soluion I can think of right now in terms of extensibility is to pass the result of `do_ptree` to a variable in vim. Then users can do whatever they want with it in `.vimpagerrc` or `.vimrc`.

Any thoughts? I would be willing to implement this

[2012-01-29 05:51] #25 closed, assigned to nobody

[2012-03-08 21:53] suan opened #30 "Hitting 'n' for next search result doesn't work sometimes"
As an example, do `man git-stash`, then `/pop<enter>`. Then, hit `n` to get to the next result - nothing happens. Instead, you have to manually scroll down to the next result, and from there it works for some reason.

[2012-04-11 18:01] #30 closed, assigned to nobody

[2012-06-20 09:49] xiangchao opened #33 "openbsd ps command"
- do_ptree
- awk $2 ~ /(^|\/)(man|perl(doc)?([0-9.]*)?|py(thon|doc|doc2))/ {t=1} END { exit 1-t }
  ps: comm: illegal keyword specification

extra_cmd="let vimpager_ptree=[$(do_ptree | awk '{ print "\"" $2 "\"" }' | tr '\n' ',')] | call remove(vimpager_ptree, -1)"
- do_ptree
- awk { print "\"" $2 "\"" }
- tr \n ,
  ps: comm: illegal keyword specification

tested on openbsd 5.1: comm -> command ? (

[2012-06-25 04:01] ShadowStar opened #34 "v1.6.9 in conflict with ToggleComment"
It does NOT quit vimpager and show the follow message when I press `q' (same key used in ToggleComment)

Error detected while processing function ToggleComment_toggle:
line   16:
E21: Cannot make changes, 'modifiable' is off
line   17:
E21: Cannot make changes, 'modifiable' is off
line   18:
E21: Cannot make changes, 'modifiable' is off
Press ENTER or type command to continue

There is no problem

[2012-06-25 08:26] #34 closed, assigned to nobody

[2012-06-26 05:11] #33 closed, assigned to nobody

[2012-08-01 18:45] ddopson opened #37 "Scroll up?"
when I scroll up, I can't go more than ~2-3 lines back.  This makes vimpager very difficult to use.

[2012-09-15 00:49] tommykey opened #38 "No longer works correctly under the root user"
After upgrading vimpager from 1.7.1 to 1.7.2,  it no longer correctly displays any file or the standard input (when piped to), when ran as a root.

Typical scenario:

[code]

Vim then opens with an empty buffer, statusbar containing:

[code]

The second buffer contains the data to be viewed, with no syntax higlighting.

(The root user has **no** special configuration, not even a `.vimrc` file.)

[2012-09-15 01:10] #38 closed, assigned to nobody

[2012-09-25 22:00] ghost opened #40 "Throws error when trying to use with pathogen."
Whenever I run vimpager, I get this error:

[code]

I tried adding `source $HOME/.vim/autoload/pathogen.vim` to my `.vimrc` to no avail.

[2012-09-29 17:45] #40 closed, assigned to nobody

[2012-10-02 13:02] #37 closed, assigned to nobody

[2012-10-19 13:50] cdlm opened #45 "Can't copy-paste"
When trying to copy text from vimpager, I get `E481: No range allowed`, and nothing goes to the system pasteboard. It's the same with vim shortcuts (e.g. yy) and with mouse selection and Command C.

This is with iTerm 2 on Mac.

[2012-10-24 21:20] labreuer opened #46 "screen flashes before opening in iTerm2"
I'm using iTerm2 on OSX 10.8 and when I use vimpager (e.g. `man vim`), the iTerm2 screen goes from the regular terminal display to all-black (the background color), then back to showing the regular terminal display, and then finally to vimpager. See [this video](http://www.youtube.com/watch?v=fvVPtk84x-o) for a demonstration. Note that the delay there is accentuated, perhaps due to screen recordin

[2012-11-11 04:33] leebast opened #49 "vimpager does not handle spaces in path to .vimrc due to unquoted vars"
Simple thing, on lines 80, 205, and 225 `${vimrc}` isn't escaped, so attempting to use vimpager from a home folder with a space in the path will result in errors. If the path was `/volume/foo bar/home/` for example, it'd result something along the lines of:

[code]

It's quoted elsewhere and quoting those three instances seems to fix the problem.

[2012-11-13 06:10] #49 closed, assigned to nobody

[2012-11-26 02:15] #46 closed, assigned to nobody

[2012-12-18 17:05] jwadamson opened #53 "Uses bin/sh to run bash script (not valid on ubuntu)"
Ubuntu has a highperformance posix dash for its /bin/sh.  This means that vimcat does not work on ubuntu.
vimcat uses #!/bin/sh but explicitly states in the header comment that it is a bash script.  This is incorrect behavoir.  I would expect that the script should either be updated to avoid any non-posix functionality or more likely the interpreter line should be changed to /bin/bash so that it u

[2013-01-27 03:55] shurane opened #55 ":nmap <CR> mapping"
I'm using Ubuntu 12.10, vim 2:7.3.547-4ubuntu1.1

In my $VIMRC, I have `nnoremap <CR> o<Esc>`

This seems to clobber some of the keys in vimpager. Specifically, keys that are listed as `:noxb`, `:noxe`, `:noxj`, etc. I can fix this by just calling `:unmap <CR>`  The vimpager keys work as advertised after this step.

I casually replaced instances of `:noremap` and `:nmap` to `:nnoremap` in the vimp

[2013-01-28 04:34] #55 closed, assigned to nobody

[2013-04-02 22:33] jdumas opened #58 "Avoid buffering entire files"
Hi!

One issue that's been slitghly annoying me when using `vimpager` is that whenever I try to open a big file with it, the program hangs until it has seemingly buffered the whole file and then display it. I don't know if it's a desired feature or not, but as `less` and `vim` open immediatly any large file I throw at them I suppose it's an issue to be fixed. Another inconvenience comes when we pi

[2013-04-13 12:43] obache opened #59 "No LICENSE information"
I cannot find the license information of this product.
3-clause-BSD license is in vimcat script, but it is unclear whether it affect to whole script or only AnsiHighlight part.

Could you note license information in each scripts and/or README?
.

[2013-04-15 20:46] #59 closed, assigned to nobody

[2013-05-27 22:52] doctorcolossus opened #60 "/etc/vimrc not sourced if ~/.vimrc doesn't exist"
I have no ~/.vimrc because I'm the only user on my system and I like vim to behave the same whether I'm logged in as the user or root account.

vimpager works fine for me using vim, but if I would like it to use _gvim_ if possible.

Adding `let vimpager_use_gvim = 1` to my `/etc/vimrc` seems to have no effect... so apparently `/etc/vimrc` isn't being sourced.

Creating `/etc/vimpager` or `~/.vimpa

[2013-05-29 01:27] ELLIOTTCABLE opened #61 "Detecting (or delcaring) filetype for content piped in"
This, I would have thought, would be an obvious one:

9/10ths of the purpose of `vimpager` is to have a syntax-hilighting pager. So, when I `coffee --print utility.tests.coffee | vimpager` for the first time after installing it, and see this …

![un-hilighted source-code](http://ell.io/idLr4+)

… I'm a bit put-off. Is there really no way to have vim, or vimpager, “sniff” the file or something to t

[2013-07-17 09:08] hkjels opened #64 "Termcap deinitialization"
Something in the lines of `less -X`. Free's up some vital brain-juice.

[2013-10-02 18:09] RobertAudi opened #65 "vimpager always uses system vim..."
I installed MacVim on my system, and I use MacVim's terminal Vim, which I aliased to `vim`.
`vimpager` always uses the system vim, which is a bit troublesome since I have the `YouCompleteMe` plugin, which requires Vim 7.3.584+, and the system Vim is a couple versions below that. So I get an error message from `YouCompleteMe` everytime I run vimpager...

There should be a way to specify the path to

[2013-10-04 17:58] #65 closed, assigned to nobody

[2013-10-10 19:15] RobertAudi opened #66 "Why not use Vim keybinding to move up and down?"
I don't understand why I can't use `j`, `k`, `<C-u>` and `<C-d>` to move up and down. For instance `j` is mapped to `<CR>` which makes no sense to me..

**EDIT**: I can use `u` to go up, and `d` "kinda" works (it goes down after a delay).

[2013-10-13 09:37] #66 closed, assigned to nobody

[2013-10-13 15:03] jorgesca opened #67 "scrolling issue"
Not really sure if this is an issue of vimpager, I just happen to notice it only with vimpager. When scrolling through a man page, I randomly use the up/down arrows or the pageup/pagedown keys. The problem is that after using the up/down keys, the pageup/pagdown change its behavior. That's the result of a vim "feature" and the way arrow keys are defined:

[code]

[code]

In my own config I have th

[2014-01-30 14:33] rosshadden opened #71 ""h" does not scroll left"
I just installed this (and love it), but with unchanged settings I am unable to scroll left with the `h` key.  What happens instead is I get a help output:

[code]

`l`, `j`, and `k` all work as expected.

[2014-02-23 18:06] blueyed opened #73 "vimpager_ptree is not setup correctly with Zsh's run-help"
When using zsh's run-help, vimpager_ptree is not setup correctly, e.g.:

    % run-help man
    man is /usr/bin/man
    vimpager_ptree: []
    Error detected while processing /home/user/.vimpagerrc:
    line    9:
    E684: list index out of range: -2
    E15: Invalid expression: exists("vimpager_ptree") && vimpager_ptree[-2] == 'wman'
    Press ENTER or type command to continue

`vimpager_ptree`

[2014-02-27 19:32] tylerbrazier opened #75 "j does not scroll when <cr> is mapped to ':' in vimrc"
In my vimrc i have the line
nnoremap <cr> :
so I'm able to enter commands faster since enter in normal mode does essentially the same thing as 'j'. However, in vimpager when I press 'j' it brings me into command mode.

[2014-03-14 08:38] xintron opened #76 "Scrolling with ^D/^F problem (less.vim)"
When opening man pages the script `/usr/share/vim/vim74/macros/less.sh` seems to run and setting up mappings for ^D and ^F (and others). This causes problems with scrolling using those mappings (where there now is a delay from the keystroke till the scrolling actually happens).

Is there some way of disabling that less script to run (and source less.vim in the macros directory) or any other way to

[2014-03-14 11:57] #76 closed, assigned to nobody

[2014-04-06 22:49] mayersj1 opened #77 "Need to be able to customize search path"
The copy of VIM that I use is located in my ~/bin directory.  vimpager and vimcat completely ignore this version as it is not found in their default search path.  There should be a way to customize the search path to include non-standard binary locations.

[2014-04-07 18:28] #77 closed, assigned to nobody

[2014-05-08 14:40] snordhausen opened #78 "vimpager runs commands of other users"
vimpager uses /tmp in a very insecure way, which allows another user on the system to tamper with vimpager's data. For example, an attacker can run any command in the context of a user that uses vimpager. To do that, the attacker runs

which sets up many /tmp/vimpager_cols_XXXX files. Line 115 of the vimpager script will fail to overwrite the file (permission denied if run as normal user), but the

[2014-07-29 20:29] HalosGhost opened #85 "Support opening ``vimpager`` in a buffer"
I would love to be able to open a new buffer in ``vim`` with ``vimpager``. This would allow, for example, reading documentation side-by-side with what I'm coding without having to do shenanigans with terminals.

As a related request, it would be incredibly helpful if there were a command that one could run via command-mode to open a new man page (rather than needing to close ``vimpager`` and then

[2014-08-09 13:18] wimstefan opened #87 "/usr/bin/uudecode: illegal option -- p"
That's the error message I get with the latest git version (commit 2d80edeb1b596decca1d88e53d0f409c29f6500a)

[2014-08-10 11:31] #87 closed, assigned to nobody

[2014-08-23 15:28] tannhuber opened #89 "vimpager doesn't work with ranger anymore"
The problem is described here: https://github.com/hut/ranger/issues/149. I think it makes sense to have a `--` seperator in vimpager as well. It seems to be a standard feature in other pagers. What do you think?

[2014-08-24 07:34] #89 closed, assigned to nobody

[2014-08-24 07:44] tannhuber opened #90 "nofoldenable is ignored in vimpagerrc"
I don't like folding in a pager. It's possible to disable folding with `set nofoldenable`. But it has no effect within `.vimpagerrc` or `.vimrc`.

[2014-08-24 11:51] #78 closed, assigned to nobody

[2014-08-25 08:32] #90 closed, assigned to nobody

[2014-08-29 08:58] fcrozat opened #91 "underline unsupported when using vimpager for manpage"
if running "PAGER=vimpager man fopen" , I'm getting additional "m" in the output for text which is supposed to be underlined:

FILE *fopen(const char *mpathm, const char \*                             mmodem);

[2014-09-11 01:31] noctuid opened #93 "Fold Headings"
I don't know if you consider this to be part of the scope of the program, but I always thought that it would be nice to have vim folding for the section headers (.SH).

[2014-09-17 21:24] renatosilva opened #94 "Uudecode is not widely available"
There is no such program neither in MSYS nor in MSYS2, and it looks like Linux distributions will include `uudecode` under optional packages such as `sharutils` in Ubuntu. These distributions should however come with `base64` from coreutils, which is also available in MSYS2. This is a follow-up to issue #83, according to Rafael:

[2014-09-19 09:14] tannhuber opened #95 "<Page down> moves to the right"
I would expect that <Page down> scrolls one page down. Or is this an issue of my config? If yes, how can I change it?

[2014-09-22 02:40] #95 closed, assigned to nobody

[2014-10-12 22:12] bearcatsandor opened #96 "man pages not stripping ansi escape sequences and throwing errors with uudecode"
vimpager works well except for man pages. When i view a man page i see the escape sequences and no color. When i close the man page i get:

uudecode fatal error:
standard input: Invalid or missing 'begin' linetar: This does not look like a tar archive
tar: Exiting with failure status due to previous errors

In my bashrc (and zshrc) i have:

alias cat="vimcat"
export PAGER=/usr/local/bin/vimpager
a

[2014-10-23 09:57] tannhuber opened #97 "out of memory"
On startup, vimpager says
»out of memory for RE run time stack«
since 02f5b2a. And it floods my RAM and needs many seconds to start.

[2014-11-06 17:50] rinchen opened #98 "vimpager PID killed errors"
Under Ubuntu Utopic I see the following:

[code]

During the invocation until the awk processes die the system becomes IO bound essentially freezing it. It happens on all files, not just markdown.

I'm using VIM version 7.4.273 and I'm using the stock http://vim.spf13.com/ vimrc.

[2014-11-16 09:00] #97 closed, assigned to nobody

[2014-11-16 09:01] #98 closed, assigned to nobody

[2014-11-17 09:44] mijoharas opened #99 "Problems working under cygwin"
While I have never had any problems with vimpager under linux, on cygwin I am unable to get it to display anything using the cygwin cli vim (version `7.4.417` not gvim) and zsh. Vimpager appears to open fine but does not display anything, e.g:

[code]

(vimpager opening correctly but no content on screen.)

[2014-11-20 09:29] #99 closed, assigned to nobody

[2014-12-11 17:15] #91 closed, assigned to nobody

[2014-12-29 07:58] kevin4fly opened #101 "jump feature"
As you known, the vim build-in script located in `$VIMRUNTIME/ftplugin/man.vim` has a feature that we are able to jump back and forth with `c-]`, `K` or `c-t`. This is pretty nice feature I think. I hope `vimpager`can implement it also.

This plugin is pretty nice so far and thanks for your great work!

[2015-01-15 14:07] samuell commented on #96
I do get, in Xubuntu 14.04 64bit LTS:
[code]
Colors work, though.

[2015-01-15 15:37] rkitover commented on #96
Any chance you could do some debugging.

Try adding a

[code]

at the top of the main function.

[2015-01-15 15:57] samuell commented on #96
Yeah, I forgot to include the command I tried (`man man`) in this case:

[code]

[2015-01-18 01:25] wilywampa opened #102 "Last line cut off if no trailing newline present"
See example below. Note that the last line is only cut off when vimpager lets the text pass through. When it actually opens Vim, the last line is as it should be.

[code]
I was thinking this was a git bug until I piped git's output to a file and saw the problem disappear. The output of `git log --oneline` has a trailing newline so all the log entries are present. Using `git log --pretty=format:"%h

[2015-01-18 09:29] rkitover commented on #102
Good catch, fixed in master.

[2015-01-23 22:19] #102 closed

[2015-02-02 09:45] rkitover commented on #96
I cannot reproduce this, just installed an xubuntu 14.04 VM and do not see this error.

Make sure your file is not corrupted in any way. The safest way to checkout the repo is to use git.

[2015-02-03 15:37] rkitover commented on #94
Try the new version and see if it performs adequately, I've finally written the awk lookup table based script.

[2015-02-25 18:00] nasenatmer commented on #71
Hm, I'm not quite sure but I think I am also affected by this. Since I'm using a different keyboard layout - [bone(2)](http://wiki.neo-layout.org/wiki/Bone) I usually remap `hjkl` as follows:

[code]

However, this (still) doesn' work for `h`, it's still moving the cursor to the left, even if I `unmap h` before binding it to `j`.

Is there any other way to achieve this?

[2015-02-26 00:50] rkitover commented on #71
Fixed in master.

[2015-02-26 15:47] nasenatmer commented on #71
Thanks a lot! I hope this won't cause confusion with those people who expect `h` to activate help. But as it's called `vimpager` and not `lesspager` I think that this should be ok for most people!

[2015-03-30 08:37] guiniol commented on #11
Hello!
Sorry for the necrobump.
Are there any problems remaining with this issue?
AFAICT it seems to work quite well.
I'm only asking to know if it's going to break my system to install it from source. It's packaged in my distro but as long as this fix is not included in a release, I won't be able to benefit from it if I don't install from source.
Cheers,

[2015-03-30 09:06] rkitover commented on #11
On Mar 30, 2015 4:37 AM, "guiniol" <notifications@github.com> wrote:

from source. It's packaged in my distro but as long as this fix is not
included in a release, I won't be able to benefit from it if I don't
install from source.

I haven't updated the issue as there is one last irritating bug remaining,
sometimes when you look at git diffs with lines that have real tabs and
spaces, or other whit

[2015-03-30 09:14] guiniol commented on #11
You're in the hospital. Focus on getting well. This is certainly not crucial and can wait indefinitely.
I installed from source and if I see the issue, I'll try to debug it.

Get well!

[2015-03-30 09:20] guiniol commented on #11
The weird spacing might be due to mixed spaces and tabs. If the someone edits with tb=4 and expandtab, and someone else with tb=4 but no expandtab, it looks fine in vim, but vimpager would, by default, use tb=8, woudn't it? Even if tb=4 is defined in c.vim for example, vimpager uses the ft=diff if it's a diff.
You've probably thought about all this already, but just in case ^^

[2015-03-31 18:20] renatosilva commented on #94
How about Base64? Anyway, vimpager is not detecting a missing uudecode:

    /usr/local/bin/vimpager: line 658: uudecode: command not found

[2015-03-31 18:35] rkitover commented on #94
I removed the dependency on uudecode, have you tried master?

[2015-03-31 18:49] renatosilva commented on #94
Look at that mentioned line, `command -v uudecode` is not working. I'm using 1b7a351.

[2015-03-31 19:20] rkitover commented on #94
Run this in your shell, what does it say:

command -v uudecode; echo $?

it should print "1"

how about command -v foobarbazquux; echo $?

it should also print "1"

while command -v awk; echo $?

should print the path to awk and a zero exit status

If this is not happening for you, your version of "command" is extremely broken, but I suppose I could make a workaround just for this case.

[2015-03-31 19:43] renatosilva commented on #94
The command built-in works fine in bash, your tests pass ok. But when called from within vimpager, command thinks that there is a uudecode when there is not.

[2015-03-31 19:47] rkitover commented on #94
I see, my bad, I will fix in a minute.

[2015-03-31 19:51] rkitover commented on #94
Please try master.

[2015-03-31 19:56] renatosilva commented on #94
This now leads to:

    $ man bash
    Error detected while processing /tmp/vimpager_160/extra_vim_home/macros/less.vim:
    line    4:
    E492: Not an editor command: ^M
    line    6:
    E15: Invalid expression: exists("loaded_less")^M
    line  281:
    E171: Missing :endif
    Press ENTER or type command to continue

[2015-03-31 21:42] rkitover commented on #94
This is interesting, one of the tools that is doing the uudecode is erroneously adding a carriage return (the ^M) to output lines when it shouldn't, and vim does not like that.

The tools that are tried are in this order:

* perl
* python2
* python
* python3
* ruby
* awk

Please see which is the first of these tools that you have available.

I am suspecting it is perl, and I know how to fix that.

[2015-03-31 22:01] renatosilva commented on #94
Yes, mingw perl is first one available from these. However, msys perl is also problematic, see below. Thus, can you just put base64 in front of them all?

    mkdir: cannot change permissions of ‘/tmp/vimpager_3504’: Permission denied
    Could not create temporary directory /tmp/vimpager_3504
    man: command exited with status 1: (cd <fd 3> && LESS=-ix8RmPm Manual page bash(1) ?ltline %lt?L/%L.:

[2015-04-01 14:48] rkitover commented on #94
See two commits above. The first issue was lack of binmode in the perl snippet.

The second issue was because the msys2 shell uses a uname of MSYS* which I added.

I installed msys2 on my win8.1 VM and tried vimpager in both the mingw and msys shells, and it seems to work correctly, please confirm.

[2015-04-02 19:22] renatosilva commented on #94
Confirmed, but vimcat needs update too.

[2015-04-03 19:00] sjackman opened #103 "Please tag a stable release"
The 1.8.9 tarball does not include the bundled AnsiEsc in the vimpager script.

[2015-04-03 20:29] renatosilva commented on #94
That commit is broken, I gues you want `MINGW*|MSYS*)` instead.

[2015-04-04 03:33] rkitover commented on #103
The issue is spacing in git diff with AnsiEsc, I have to fix that before I can release.

[2015-04-04 03:50] rkitover commented on #94
Thanks, everything seems to be working now. I guess I vaguely remembered case clauses can fall through like that, but I guess not without any commands whatsoever.

[2015-04-04 08:47] rkitover commented on #94
Ah so case clauses in Bourne shell cannot fall through at all, just in newer versions of bash using special syntax. I must have mixed this up with C.

[2015-04-04 22:43] renatosilva opened #104 "Rendering problem in MSYS2"
Vimpager does not render some characters correctly in MinGW shell, for example:

![vimcat_mingw](https://cloud.githubusercontent.com/assets/1465469/6994973/abee0010-db02-11e4-851a-3c0f9b9e283d.png)

The MSYS shell works fine:

![vimcat_msys](https://cloud.githubusercontent.com/assets/1465469/6994978/c09e27ce-db02-11e4-92a9-5dcb461fb96b.png)

[2015-04-04 22:50] renatosilva commented on #94
Working now, thanks. I contributed sharutils to MSYS2 so uudecode can be installed, but base64 is available by default. I also wonder if base64 would be faster.

[2015-04-05 16:14] rkitover commented on #94
Well, the perl uudecoding should be just about as fast as either. The reason I didn't use base64 is because many older systems don't have it, and I would be in the same situation, finding a programming language on the system to use and falling back to awk. Which is what I do now, an awk base64 fallback would be just as ugly as the uuencode version I have now. And of course, I can't encode the file

[2015-04-05 19:44] rkitover commented on #104
Can't reproduce this on clean msys2 with empty .vimrc.

I'm guessing it's something to do with your utf8 settings in vim and/or your $LANG and $LC_CTYPE env vars.

[2015-04-05 23:21] rkitover commented on #103
See #11

The fix turned out to be really simple, I will do a new release now.

[2015-04-05 23:22] rkitover commented on #11
The fix turned out to be really simple, just %s/\t/        /g

Just a global replace of every tab with 8 spaces.

I will do a new release now.

[2015-04-06 01:32] renatosilva commented on #104
Please try `LANG=en_US.UTF-8` and `LANG=`.

[2015-04-06 06:55] rkitover commented on #104
I tried this, no effect. It seems the shell sets LANG=en_US.UTF-8 by default.

What is your windows display language? Groff may be using that.

Try setting:
[code]
in your .vimrc.

[2015-04-06 07:20] rkitover commented on #104
Looks like a mangled apostrophe UTF8 code, which is E2 80 99

[2015-04-06 10:13] rkitover commented on #104
I think I see what your issue is. You are using a win32 native perl in the MinGW shell, and this perl is not reading locale info in the standard way, and I use perl when available to strip overstrikes from man pages.

See above commit, I avoid using perl for overstrike removal on windows now and fall back to sed isntead, this hopefully will fix your issue.

[2015-04-06 14:06] guiniol commented on #11
Thanks a lot. I'll try it out as soon as I can!

[2015-04-06 21:14] sjackman commented on #103
Great! Thanks.

[2015-04-07 10:35] leandro-lucarella-sociomantic commented on #11
I'm getting an error when using with git (by just using it as PAGER): `./vimcat: 80: ./vimcat: Syntax error: "(" unexpected`. Is weird, because it looks like a bashism (even the script says "this is a bash script" but `#!/bin/sh` is used) but it only happens when running it through git, if I use `sh vimcat file` in the console, it wrks.

[2015-04-07 10:37] leandro-lucarella-sociomantic commented on #11
Mmmm, this only happens when `git diff` output is empty. For a non-empty diff it works fine.

[2015-04-07 11:54] renatosilva commented on #104
Broken commit, you need a space in `[ -z "${msys}"]`.

[2015-04-07 17:25] rkitover commented on #104
Sorry, I am just out of the hospital with pneuomonia and lots of other very nasty things, so I am not at the top of my game.

I fixed the missing space, does it work now?

[2015-04-07 17:30] rkitover commented on #11
@leandro-lucarella-sociomantic

I cannot reproduce this, can you do a bit of debugging for me please?

There is a block of code at the top of vimcat which tries to find bash or ksh, it should ideally find bash, the shell it finds is saved in $_MY_SHELL.

In the cases where you get this error, can you echo $_MY_SHELL and exit, and see why bash is not being found on your system.

You'll need to repa

[2015-04-08 09:07] guiniol opened #105 "AnsiEsc: escape sequence '\x1b[1;39m' (bold) not properly recognized"
This escape sequence is not being processed properly by AnsiEsc.
With less, it is displayed with the bold color from urxvt*colorBD.
With vimpager (latest commit from github), it is displayed in white, and the 'm' is not concealed (extract from `journalctl -b`):
- with AnsiEsc:

[code]

- without AnsiEsc:

[code]

- with less (imagine 'Linux version' in bold):

[code]

I can fix it by adding to ans

[2015-04-08 09:14] rkitover commented on #105
I use AnsiEsc from:

https://github.com/berdandy/AnsiEsc.vim

with my own patch, which they did not pull for some reason.

AnsiEsc is bundled in vimpager, please send me a PR with:

your patch to the ansiesc/ dir in patches/ as well as the patch applied to ansiesc/

run "make" to rebuild vimpager with the updated ansiesc.

Send the upstream a PR as well, if you can.

[2015-04-08 09:38] guiniol commented on #105
I added the line above to the AnsiEsc bundled with vimpager.
I'll notify upstream and see what they think before doing a PR.
Here is the patch though

[code]

[2015-04-08 09:50] guiniol commented on #105
PR opened here: https://github.com/berdandy/AnsiEsc.vim/pull/1

BTW, it seems to be the first PR, so I'm not sure they ever received yours.

Cheers,

[2015-04-08 12:27] guiniol commented on #105
I must be tired because I read your comment wrong.
I just opened a PR against vimpager: #106

cheers

[2015-04-08 12:33] Aklo0 opened #107 "unmap h problem"
vimpager issues an"unmap h" vim command when starting vim,
but less.vim does the same in the "switch to editing" command (mapped to v)

see line 211 in less.vim

so if you invoke vimpager and then issue the "v" command you get this error:
"E31: No such mapping"

Bonus question: what's the reason to "unmap h" ?
I find less.vim help pretty usefull

[2015-04-08 12:59] leandro-lucarella-sociomantic commented on #11
On Tue, Apr 07, 2015 at 10:30:26AM -0700, Rafael Kitover wrote:

This is what happens adding set -x:

+ _MY_SHELL=/bin/sh
+ export _MY_SHELL
+ [ -z  ]
+ command -v bash
+ IN_BASH=1
+ export IN_BASH
+ command -v bash
+ _MY_SHELL=/bin/bash
+ export _MY_SHELL
+ exec bash /usr/local/bin/vimpager
+ _MY_SHELL=/bin/sh
+ export _MY_SHELL
+ '[' -z 1 ']'
+ '[' -z 1 ']'
+ echo SHELL /bin/sh
SHELL /bin/sh
+ e

[2015-04-08 13:01] leandro-lucarella-sociomantic commented on #11
Wait, I actually changed vimpager, vimcat doesn't have any shell detection and any `_MY_SHELL` variable.

[2015-04-08 20:41] rinchen opened #108 "vmcat syntax error"
Howdy,

I have a file that contains

    # The first entry in this file is the destination config file
    ~/.ssh/config

and when I "less" that file, I see:

    1 ./vimcat: 80: ./vimcat: Syntax error: "(" unexpected

[2015-04-08 23:42] rkitover commented on #105
So apparently I opened a PR against the wrong fork of ansiesc

https://github.com/powerman/vim-plugin-AnsiEsc/pulls

I will open a PR against this one now.

[2015-04-08 23:53] rkitover commented on #105
Oh I see, my PR was against the right fork, I misread the vim.org page:

http://www.vim.org/scripts/script.php?script_id=4979

but I think it would be better if we work with berdandy anyway since powerman is not merging PRs.

[2015-04-09 11:47] guiniol commented on #105
Ok. So... I\ll leav my PR with berdandy then I guess?

[2015-04-09 11:49] rkitover commented on #105
Yeah, sorry about this I'm really sick and not in my right mind.

I want to see if berdandy will merge your PR, if so I'll send him mine and whatever changes powerman had.

AnsiEsc is hardly perfect, and it would be nice if we had an active upstream for it.

[2015-04-09 11:52] guiniol commented on #105
No worries, just making sure my PR is in the right place.

[2015-04-09 12:05] rkitover commented on #107
h was unmapped because it was interfering with people's mappings.

This is not an issue in master, just the stable vimpager.

[2015-04-09 12:06] rkitover commented on #108
Can you please give me your OS, distribution and version please?

[2015-04-09 12:33] rkitover commented on #11
It's there close to the top, the code is the same as in vimpager just slightly indented.

NOTE: you have to run make to rebuild vimpager with your updated vimcat

[2015-04-09 14:18] leandro-lucarella-sociomantic commented on #11
On Thu, Apr 09, 2015 at 05:33:25AM -0700, Rafael Kitover wrote:

OK, I guess I was looking at something else. I changed vimcat, rebuilt
and tried it again (with PAGER=/usr/local/bin/vimpager git diff) and
this is what I got:

+ : if 0
+ [ ! -t 1 ]
+ PATH=/usr/lib/git-core:/home/luca/bin:/usr/lib/ccache:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/usr/lo

[2015-04-09 17:35] rkitover commented on #11
@leandro-lucarella-sociomantic

Thank you very much for the trace, this helped me realize what the problem was and I committed a temporary fix. I'll need to rewrite some of this code more extensively for the next stable release.

Please let me know if the issue is gone or is still there.

As for the spacing issue, the crude hack of replacing tabs with 8 spaces helps things line up usually but I ne

[2015-04-09 17:35] rkitover commented on #108
Never mind, I have a temporary fix in master.

[2015-04-09 18:51] rinchen commented on #108
@rkitover Ubuntu Vivid Beta 2.  I can also get this to fail on man files and my mutt ldap rc file:

    # hostname of your ldap server
    $ldap_server = 'xxx'

I'm guessing it's having trouble with special characters.

[2015-04-09 18:52] rinchen commented on #108
e.g.   man chsh

[2015-04-09 18:53] rinchen commented on #108
@rkitover current master locks up gnome-terminal when I encounter one of those files.  No error, just becomes unresponsive.

ps. Thanks for vimpager. I never realized how much I love it and use it until it doesn't work :-)

[2015-04-09 22:50] renatosilva commented on #104
Working, thanks.

[2015-04-09 22:50] #104 closed

[2015-04-10 11:06] leandro-lucarella-sociomantic commented on #11
The fix worked. Thank you for the quick answer and fix! (and the nice tool too :grin:)

[2015-04-12 14:08] rkitover commented on #108
I am going to completely rewrite this part of the code today. Hopefully it will work better after that. I'm sorry my temporary fix didn't help you, it helped someone else in issue #11 .

In the meantime, try adding this to your .vimrc :

[code]

[2015-04-12 14:27] rinchen commented on #108
FWIW, This seems to fail for me only on Ubuntu Vivid. It doesn't fail on OS X or Ubuntu 14.04.  I am using spf13's vim distro in all places.

[2015-04-12 15:06] rkitover commented on #108
Weird because I just upgraded my xubuntu 14.04 to vivid and I did not see the issue, but I will try that VM image once I rewrite the passthrough code.

[2015-04-13 13:11] rkitover commented on #108
I installed the spf13 dist on my ubuntu vm, and I noticed that the paging keys in less.vim do not work at all. And I reproduced your issue with short files in passthrough mode. I will see if I can fix this.

[2015-04-21 13:02] rkitover commented on #108
The issue with short files and passthrough mode on vivid with spf13 seems to be fixed, now that I rewrote that code.

I still need to figure out how to get less.vim to work correctly with spf13.

[2015-04-29 10:35] rkitover commented on #11
I wrote the ConcealRetab command to fix spacing in files with tabs when using AnsiEsc. That should take care of all the most glaring AnsiEsc issues. I am going to finally cut a stable release now.

I'll leave this issue open for another week in case anyone has any comments or bugs, then I will close it.

Four year issue, finally done!

[2015-04-29 17:05] rkitover commented on #107
I've released 2.0 where the unmap h issue is gone, but help is disabled.

If you think there should be a help mapping, any suggestions for which key?

[2015-04-29 17:07] rkitover commented on #103
2.0 is tagged, and 2.01 as well (minor doc changes.) All AnsiEsc issues are now fixed.

[2015-04-29 17:07] #103 closed

[2015-04-29 17:08] rkitover commented on #94
Closing this as the awk fallback works on even ancient awks like /bin/awk on solaris.

[2015-04-29 17:08] #94 closed

[2015-04-29 17:09] #96 closed

[2015-04-29 17:12] rkitover commented on #61
Well we have the -c and --cmd options now, if that helps.

[2015-04-29 17:13] rkitover commented on #53
There is now shell detection code that tries to find a POSIX shell on all systems, while remaining a #!/bin/sh script.

[2015-04-29 17:13] #53 closed

[2015-04-29 17:40] sjackman commented on #103
Thanks. I've updated the Homebrew formula https://github.com/Homebrew/homebrew/pull/39190

[2015-04-29 18:29] rinchen commented on #108
This works sooooo much better now. The recent changes have fixed this. Thanks!

[2015-04-29 18:29] #108 closed

[2015-04-30 14:24] Aklo0 commented on #107
I can't suggest any key, it will conflict with someone else preferences.
In my opinion you should document the key mappings set by less.vim (now embedded) in some way: they are different from what a vim user would expect.
Maybe in vimpager man page.

[2015-04-30 14:31] Aklo0 opened #109 "temp directory is deleted before gvim starts"
On archlinux, vimpager version 2.01 delete the temporary directory before gvim is even started.
Gvim is started on a (blank) new file in a non existing directory.
It appens only when starting a gui version of vim.
Commenting out line 561 of vimpager script (the "trap rm" one) it works, but of course it leaves the temp dirs around.

edit: I have no idea if it's a bug related to archlinux, but I thi

[2015-04-30 15:37] rkitover commented on #109
Embarassing that I'd fuck up something this major in a major release, the first one in a year at that, sorry.

Fixed in 2.02.

[2015-04-30 15:37] #109 closed

[2015-04-30 15:38] rkitover commented on #107
Good idea, I will write docs for the key mappings.

Also I was thinking I could leave the 'h' mapping if it is unmapped, otherwise use ',h' that's a popular key mapping method for vim scripts.

[2015-05-10 17:32] dpo opened #110 "Vimpager doesn't use my Vim theme for syntax highlighting"
I'm using Homebrew Vim on OSX. My `~/.vimpagerrc` contains
[code]
Curiously, `vimcat` uses my Vim theme but not `vimpager`. How do I enable that?

[2015-05-11 08:03] ELLIOTTCABLE commented on #11
@rkitover This is a bit of a long Issue; a summary of the outcome (added either to the original post via edit, or as a new post by yourself at the bottom) might be useful. (=

[2015-05-12 08:09] rkitover commented on #110
If you use a ~/.vimpagerrc it replaces your ~/.vimrc and is used as your vimrc.

You can put those settings directly into your ~/.vimrc and they will not conflict with anything.

[2015-05-12 10:12] lucc commented on #85
@HalosGhost you might want to have a look at [manpageview](http://www.drchip.org/astronaut/vim/index.html#MANPAGEVIEW). It can open man pages in tabs and splits etc.

[2015-05-12 13:02] dpo commented on #110
Well they do. I have `set ff=unix` in my `~/.vimrc` and `vimpager` always starts up with an error message:
[code]

[2015-05-12 20:17] rosshadden commented on #71
I'm closing this, since it was added (a long time ago :))

[2015-05-12 20:17] #71 closed

[2015-05-12 22:46] dpo commented on #110
This seems more reliable:
[code]
What's the advantage of `vimpager` compared to the above settings?

[2015-05-13 10:51] lucc commented on #110
I don't really understand what "theme" vimpager is or should be using for you. Are you talking about colorschemes?

You can see all the script files that any vim instance is using (either `vim` or `vimcat` or `vimpager`) when you execute `:scriptnames`. Maybe that can help you to find some files that are or are not, should or should not be sourced.

[2015-05-13 23:48] rkitover commented on #110
I am looking at the ff=unix in .vimrc issue, this is not a common use case (having a command that modifies the file in your .vimrc) but I will resolve it.

As for what vimpager does, it does a lot of stuff, taking a glance at the doc will give you an idea of all the features. But your solution is also good if it serves your needs of course.

[2015-05-14 09:48] lucc opened #112 "Rework bundeling mechanism."
The mechanism to bundle vim scripts inside the vimpager shell script looks complicated to me. I was thinking about a PR to change this. But I would like to discuss it first.

**My idea**:

1. The scripts will not be encoded and bundled in the vimpager script.
2. The makefile will install the scripts into some custom, *static* runtime directory (like `$PREFIX/share/vimpager`).
3. The path to this r

[2015-05-15 13:22] rkitover commented on #112
The reason for the bundling is that I wanted to have just one executable script on vim.org people could use right away.

There is no dependency on uudecode, if it is not available there are other mechanisms like perl or python with an awk fallback.

[2015-05-15 13:38] lucc commented on #112
I did not think about the "all in one file" use case. That would be broken by this PR.

But the README states that one should use `make install` in order to use the script (and that README is also displayed on the vim.org page). So is this "one file use case" actually a thing people do/need?

(Additionally they still will not get the man page if they only use the main file.)

I already had a look

[2015-05-15 15:22] ericlathrop opened #114 "Errors during git log"
When I run `git log` in any of my repos I get these errors:
[code]
After pressing enter 4 times to get through the errors, the log shows up and looks correct, but the view is scrolled very far downward instead of starting at the top.

[2015-05-15 15:43] rkitover commented on #114
What version of vim?

[2015-05-15 15:52] ericlathrop commented on #114
Sorry, vim 7.4.52 from Ubuntu 14.10.

[2015-05-15 18:13] rkitover commented on #114
Can you please try master, I changed it to use getpos('.') instead of getcurpos() .

[2015-05-15 18:38] ericlathrop commented on #114
That fixed it! Thanks! :tada:

[2015-05-15 18:38] #114 closed

[2015-05-15 22:17] rkitover commented on #107
Added ,h for help and added the key mappings to the docs in 2.03.

[2015-05-15 22:23] rkitover commented on #101
You can now use ,v to switch back and forth between vim and editing mode.

[2015-05-15 22:26] rkitover commented on #110
I fixed your ff=unix issue (and modifiability in general) in 2.03.

[2015-05-15 22:29] ELLIOTTCABLE commented on #105
So, I'm confused here. *All* escape sequences seem to have that extra 'm', as yours does; is this a bug, or am I just somehow using *all* of the sequences not yet supported by AnsiEsc.vim?

![screen shot 2015-05-15 at 5 25 11 pm](https://cloud.githubusercontent.com/assets/200/7662863/9b4409ea-fb27-11e4-9e07-203a13d2380c.png)

Here's the precise content, sans parsing:

    ESC[7m- - - - - - - - - -

[2015-05-15 22:32] rkitover commented on #105
Weird, I'll try this out and try to figure out what's wrong.

[2015-05-16 01:25] rkitover commented on #112
I added instructions to the docs on how to use the file from vim.org.

I am not going to replace the bundling, I don't think, it was a huge amount of work and it was specifically for the purpose of having a single file on vim.org that did not require installation.

[2015-05-16 16:39] #110 closed

[2015-05-16 16:40] #107 closed

[2015-05-16 19:26] rkitover commented on #11
More issues with AnsiEsc in #105, will hold off on closing.

[2015-05-18 17:47] rinchen opened #115 "make install fails unable to find vimpager.1"
On Ubuntu, with head:

[code]

I've done a make clean and such.

[2015-05-18 18:07] rkitover commented on #115
Sorry about that, in #113 we did not properly fix the deps in the Makefile, please try master.

[2015-05-20 17:35] rkitover commented on #115
I made the man page generation and installation optional depending on the availability of pandoc.

The next step is to make the vimpager bundling check if the bundled files have changed, for this I'll need to write sha and uuencode scripts and add the shas next to the encoded files in the script, that will be a bit of work.

[2015-05-20 19:52] rinchen commented on #115
git pull  and then sudo apt-get install pandoc worked for me. I like the man page. :-) Thanks.

[2015-05-20 19:52] #115 closed

[2015-05-30 19:21] rkitover commented on #105
@ELLIOTTCABLE Sorry this took me so long, I dread working on syntaxes because I am so clueless about them, but it was not that bad.

Can you please try master with your file and let me know if you see any other irregularities.

I added code 49 to reset background color, and merged some newer changes from @powerman and your test file now seems to display correctly.

If all is well, I will try to se

[2015-06-01 10:00] Bluewind opened #116 "Release tarballs with prebuilt manpage"
I package vimpager for Arch Linux and I've noticed that you removed the prebuilt manpages from git. While I think this is a good idea, I'd ask that you upload release tarballs to github with prebuilt manpages since we don't have a pandoc package and pandoc has a huge amount of dependencies which I don't have time to maintain.

If you decide to generate release tarballs, please also consider signin

[2015-06-01 20:00] rkitover commented on #116
Yeah I can do that in the interim, I think it would be good to get rid of the dependency on pandoc entirely and use python or ruby to do the markdown transformation, as that is widely available and I can store the libs in the project.

As for the GPG stuff, I haven't really used PGP/GPG since the 90s, what do I need to do, generate a key with gpg then upload it to some keyserver somewhere?

[2015-06-01 20:08] Bluewind commented on #116
Sounds awesome, thanks for trying to make packaging easier.

As for gpg: generate a key `gpg --full-gen-key` or `gpg --gen-key` (less interactive), publish it on a keyserver `gpg --send-keys $your_keyid` (they sync themselves so one should be enough), `gpg --detach-sign $the_tarball` and then upload the tarball and the signature.

[2015-06-03 18:22] rkitover commented on #105
@ELLIOTTCABLE Hi again, just wanted to give you an update.

The artifacts I am finishing up fixing in powerman/vim-plugin-AnsiEsc#1 do not fix this file completely.

I forgot to just run it through cat to see what it should look like when I was working on it, so I'm going to need to hack on AnsiEsc some more before everything is properly fixed.

I will let you know when it is.

[2015-06-03 18:41] ELLIOTTCABLE commented on #105
Cool! Thanks for your hard work on this.

Let me know if you need the original source or anything.

[2015-06-06 15:45] rkitover commented on #116
I pushed 2.05.

The Github interface does not allow attaching non-git files to inside the tarballs, other assets have separate links, so I added a man.tar.gz asset to the release for now, unless you know a way around this.

Next I just need to automate the process on git tag, and unfortunately git does not have native support for hooking tags, but I will add this functionality to my git-svn-hooks

[2015-06-15 13:27] mox-mox opened #117 "Cannot change less.vim"
I tried to use vimpager without all the less-like mappings and commented them out in the provided less.vim file. Since this didn't seem to have any effect, I searched, found there was a less.vim file that got installed to /tmp/vimpager_#### and seemed completely unaffected of my changes. And then I found the less.vim function within vimpager itself.
So, what is the use of the less.vim file that is

[2015-06-15 15:38] rkitover commented on #117
You have to run make.

[2015-06-16 07:42] Bluewind commented on #116
Thanks, that's useable just fine.

Only other way I see would be to upload a tarball containing everything, but if you get rid of pandoc soon I think it's better to keep the automatically generated source tarballs and provide the manpages on their own.

[2015-06-18 14:36] gkotian opened #118 "Error on trying to use git shortlog summary"
I get the following error when trying to do `git shortlog --summary --numbered` on any of my repos:

[code]

The problem is when using the `--summary` argument (without that argument, things work as expected).

As a workaround, I'm using `PAGER=/usr/bin/less git shortlog --summary --numbered`

[2015-06-19 01:40] rkitover commented on #118
I cannot reproduce this. Are you using the latest version? In my vimcat line 80 is a blank line. If you are using the latest version, are you willing to do some debugging?

First I need your system specs, what is the OS, version and shell you are on.

[2015-06-19 12:53] rkitover commented on #118
I think I see the problem, your shell must be a variant of ash and it does not have the same array support as bash and ksh likes. I'll try to fix this.

[2015-06-20 21:47] gkotian commented on #118
Ok, first off, I don't see this problem on my home computer where I'm running Ubuntu 14.04. I only saw it on my work computer where I have Ubuntu 12.04. `bash` is the shell I'm using on both systems.

I'm not sure actually. I have definitely not updated since the day I cloned vimpager, so it could very well be an older version.

Great if you have a handle on this; but I'll be more than happy to do

[2015-06-28 20:21] rkitover commented on #118
Try updating your clone, the issue should be fixed.

[2015-06-29 07:46] gkotian commented on #118
Yup. Update + another `sudo make install` fixed it. Thanks.

[2015-06-29 07:46] #118 closed

[2015-06-29 08:04] mono174 opened #119 "Opening multiple files"
Vimpager does not work correctly when multiple files are passed as arguments.

[code]

[2015-06-29 08:38] rkitover commented on #119
It is currently designed to work with only one file at a time.

This used to work, but in the process of fixing various other things the functionality was lost.

I could try to make this work but it is not a trivial fix.

[2015-06-29 08:49] mono174 commented on #119
In that case it might be better to show an error if multiple files were specified to avoid this confusing behaviour. Running -h/--help/--usage would be even better, but it doesn't seem to be supported.

[2015-06-29 09:07] rkitover commented on #119
Good idea, I will do that for the time being.

[2015-07-01 15:01] cllccl opened #120 "Error while opening file with "#" in the filename"
Hi,
fist of all: thanks for this cool pager.
I encountered the following bug:
1) dd if=/dev/random bs=512 count=1000 |tr -dc "[:alnum:]" > a#test
2) vimpager a#test
3) File won't open and I get the error:
"Error detected while processing command line:
E194: No alternate file name to substitute for '#':  args /tmp/vimpager_31283/a#test
Press ENTER or type command to continue"

Interessting about th

[2015-07-01 15:58] rkitover commented on #120
Please try master and I will release.

[2015-07-03 16:32] cllccl commented on #120
is fixed in master.

[2015-07-03 16:32] cllccl commented on #120
Cheers :)

[2015-07-03 16:32] #120 closed

[2015-07-08 07:49] kevin4fly opened #121 "Search next feature doesn't work fine"
Doing a search in `vimpager` and then press `n` to go to the next matched pattern. It doesn't work. And, `vim` shows `:silent call <SNR>1_End()` or `call <SNR>1_NextPage()` on the command line.

[2015-07-08 08:21] kevin4fly commented on #101
First of all, thanks for adding this feature. `,v` to toggle less mode works now.

However, here are some issue:
1. I think `vimpager` should add more information for less mode, I have searched the `README.md` file, there is only one place for it, and it doesn't show what less mode is doing. This is a very nice feature, it is worthwhile adding more stuff for it.
2. Display prompt in vim command li

[2015-07-08 09:24] rkitover commented on #101
I will look at this for the next release I'm doing over the next couple of days, thanks for the report.

[2015-07-08 09:27] rkitover commented on #121
Works fine here, what does:

[code]

say?

[2015-07-08 09:32] kevin4fly commented on #121
Here is it:

[code]

I'll turn off `incsearch` and `anzu` plugins which are show search stuff in normal mode if needed.

[2015-07-08 09:42] kevin4fly commented on #121
Turned off `incsearch` and `anzu` plugins.

[code]

More information:
[code]

[2015-07-08 10:16] rkitover commented on #121
DId it start working when you turned off those plugins or does it still not work?

[2015-07-08 10:19] kevin4fly commented on #121
It still doesn't work.
I'm installing a new clean system via virtualbox to see what's going on there.

[2015-07-08 11:21] kevin4fly commented on #121
This issue still occurs.

Steps to reproduce:
- install `vimpager`

[code]

- add settings to `~/.bashrc`

[code]

- run: `man man` and then type `/page`, now `page` highlights.
- type `n` to search the next one.

Actual Result:
The `n` doesn't highlight the next matched search.

Environment:
OS: Ubuntu 14.04.2
Vim: 7.4.52

[2015-07-08 13:46] rkitover commented on #121
Oh, so you mean the hlsearch highlighting is not working, not the actual search itself, which works fine.

I turned this off because I hate it, but I will turn it back on give me a minute.

[2015-07-08 13:55] kevin4fly commented on #121
No, sorry, I didn't express it clearly. Press `n` to search next matched pattern does NOT work.

[2015-07-08 14:11] kevin4fly commented on #121
OK, I think it's my fault. `vimpager` find the matched search. The stuff confused me is the cursor does not move to the word.

I have installed more than 100 vim plugins and `vimpager` is conflicted with other(s). I have to dig into it to figure it out.

Thanks for your efforts.

[2015-07-08 14:18] rkitover commented on #121
I turned hlsearch back on in master, you can show and hide the search highlighting with ESC-u just like in less. This is a bit buggy right now but mostly works, and I'll try to figure out why you sometimes have to press it twice later. Hope this helps. If you find the root of the problem in your install I will be happy to see if I can fix it.

As for the general issue of plugins interfering with v

[2015-07-08 14:23] kevin4fly commented on #121
Thanks for you suggestion, I'll take it into consideration.

I find that `vimpager` add this mapping:

[code]

That's the reason why I get this `call <SNR>1_NextPage()`. `<space>` is mapped to `NextPage` and I have this mapping `nnoremap n nzzzv`, which means keep the matched search focused on the central line!

[2015-07-08 16:16] kevin4fly commented on #121
Hi, I have anther issue. Each time I run `man command`, I get a redundant `no name` buffer. Do you have any ideal about it? Or, how can I debug it? Here is the output:

[code]

All things go well when I run `vim filename`.

[2015-07-09 08:37] kevin4fly commented on #121
Close it as things get fixed. Thanks for your help!

[2015-07-09 08:37] #121 closed

[2015-07-09 09:21] pvaibhav commented on #11
I've found the simplest solution is simply to turn off colour output for Git, and let Vim do its own syntax detection and highlighting. This even results in vastly better coloured output than Git's own.

`git config --global color.ui false`

[2015-07-09 09:32] rkitover commented on #121
I fixed the extra [Scratch] buffer in master

[2015-07-09 09:38] kevin4fly commented on #121
I almost spend my whole day to find out what's happened. I comment out my `set hidden` in my `~/.vimrc` to fix it!

But, whatever, thanks for taking time to handle it.

[2015-07-09 09:44] rkitover commented on #121
Oh, by the way, you can use this trick to turn off certain mappings or add new ones when using vimpager in your .vimrc:

[code]

[2015-07-09 09:55] kevin4fly commented on #121
It seems pretty nice.

I am just wondering why `vimpager` doesn't keep stay in `editing mode` insead of `less mode`, `editing mode` handles the text very close to `vim` itself. The [jump feature#101](https://github.com/rkitover/vimpager/issues/101) and search pattern both work very well.

[2015-07-09 11:12] rkitover commented on #121
That is because the whole point of vimpager is to use vim to behave like the less pager using less.vim.

If you just want to read man pages in vim, see https://github.com/rkitover/vimpager/issues/85

But I will add an option to turn off less.vim as well, that's probably a good idea.

[2015-07-09 16:46] rkitover commented on #121
I've added a feature where you can turn off less.vim, put this in your .vimrc:

[code]

and less.vim will not be loaded, you will have just normal vim commands with no other mappings to screw things up for you.

[2015-07-09 16:49] rkitover commented on #61
I turned modelines back on, so another way to set ft is through a modeline.

[2015-07-09 16:51] rkitover commented on #101
Yeah just tried to jump to another man page and it's completely broken.

I was also thinking it would be good to support mouse clicks for this, like a double click to jump to another man page.

[2015-07-10 03:01] kevin4fly commented on #121
I have tested it, that's nice.

I have a suggestion that, for consistent, vimpager is able to set `let vimpager_less_mode = 0` or `let vimpager_less_mode = 1` and we can trigger the less/vim editing mode back and forth by `,v`, which will change `vimpager_less_mode` to 1 or 0. Now, I tried it, it doesn't work as the way I suggest above.

[2015-07-10 17:32] rkitover commented on #121
Good idea, I have implemented this.

[2015-07-10 17:44] rkitover commented on #101
Per your suggestion I added a status message Less Mode Enabled or Less Mode Disabled .

[2015-07-11 02:57] kevin4fly commented on #121
Thanks for adding this feature!

There are some trivial issue:
1. Toggle between less mode and vim mode, I am able to see **Less Mode Disabled**, but **Less Mode Enable** cann't be displayed. The value of `vimpager_less_mode` changes correctly, I have seen that you add `echo 'Less Mode Enabled'`, it seems it doesn't work.
2. It's a logical issue. If I have added `let vimpager_less_mode = 0` to my

[2015-07-12 18:25] rkitover commented on #121
I do not see these issues in my configuration. Pressing ,v displays the message and turns on less mode if it's disabled in .vimrc.

I am working on the jump feature for the next release in a few days hopefully. I want to also make it possible to jump to man pages with a mouse click, if that will work out.

[2015-07-13 00:22] kevin4fly commented on #121
Oh, I here is my settings:

[code]

Thing goes well if remove the `if` contition statement and change above only to `let g:vimpager_less_mode = 0`.

I am glad to see that you are focusing on jump feature, and I hope you can get it fixed. :)

[2015-07-13 10:06] rkitover commented on #121
The thing you describe was a bug, vimpager=1 was not set when reading the config, I fixed this.

The other thing with messages not showing up I hopefully fixed as well according to help echo-redraw .

I need to fix an issue with the mode transition due to scrolloff, it jumps right now but it shouldn't, this is a bit difficult.

[2015-07-13 14:54] kevin4fly commented on #121
Updated and checkd the `vimpager`, both issue have been fixed.

Thanks!

[2015-07-19 10:38] doctorcolossus commented on #45
I'm having this issue in with vimpager in gvim using "let vimpager_use_gvim = 1". I'm sorry if I missed something here, but I read through all the comments and tried clipboard=autoselect (I don't think the ttymouse setting is relevant for me, since I'm not using vim in a terminal emulator), but is there any workaround to be able to copy text without disabling mouse scrolling in gvim?

[2015-07-19 17:51] rkitover commented on #45
You have to use:

set clipboard=unnamed,autoselect

your problem was that you did not include 'unnamed'.

[2015-07-20 11:02] rkitover commented on #45
Did that help?

I am going to put these settings into the init function.

[2015-07-20 11:53] doctorcolossus commented on #45
Thanks, but it did not help. ): I have tried that, as well as "set clipboard=unnamedplus,autoselect". Highlighting text with the mouse still doesn't copy it, and 'y' is remapped.

[2015-07-20 11:56] doctorcolossus commented on #45
I realized that I had been using an older version compiled from vimpager-git in the AUR, and that the latest was now available in community. I tried upgrading to that, as well as the latest from git, but neither resolved the issue. Instead, I ran into a different issue with the newer versions, so I have to open a new issue for that, which is why I procrastinated on the reply. d-: Sorry, and thanks

[2015-07-21 12:01] rkitover commented on #45
I fixed this. This is a critical bug and I'll try to do a new release as soon as possible.

[2015-07-27 09:10] tkossak opened #122 "problems make install"
os: Windows 7 x64
Cygwin_NT-6.1-WOW (i686)

running ```make install``` (there's no ```sudo``` under cygwin) gives me the errors:

    generating vimpager.1
    generating vimcat.1
    mkdir: cannot create directory '//usr': Read-only file system
    ./scripts/install-sh -m 555 vimpager //usr/local/bin/vimpager
    mkdir: cannot create directory '//usr': Read-only file system
    cp: cannot create

[2015-07-27 13:50] rkitover commented on #122
Fixed in master, please try again.

[2015-07-27 14:52] tkossak commented on #122
It installed without any errors now, thank you :)

[2015-07-27 14:52] #122 closed

[2015-07-29 12:52] aroig opened #123 "new ansi-stripping regexes seem broken"
The new ansi stripping / matching in commit a7b472ffc79d59 seem broken. vimpager errors out with

    sed: -e expression #1, char 45: Invalid preceding regular expression

I can make it fail reliably with `vimcat <file> | vimpager` on a file that gets syntax highlighted by vimcat, like the Makefile.

**EDIT:** A simple failure case

    $ echo -e '\e[31mblah' | ./vimpager
    sed: -e expression #1

[2015-07-29 15:58] rkitover commented on #123
Fixed, see commit message for explanation. Sorry about that.

[2015-07-29 16:05] aroig commented on #123
Ah! that fixes it for me, thanks!

I stared at this regexp for a while, but couldn't spot the problem!

[2015-07-31 16:42] ericlathrop opened #124 "Problem with psql inside of tmux"
When I run a simple SELECT statement (`select * from table where id = 1`) in psql (PostgreSQL's CLI app) inside of a tmux session, psql executes the $PAGER and it hangs on a blank screen. If I execute the same command outside of tmux it works fine. If I `unset PAGER; psql` and run the same SELECT it is also fine.

[2015-07-31 17:49] rkitover commented on #124
I just tested this on my debian vps with tmux, the latest vimpager and psql, and it works fine.

I need more information about your configuration:

What is TERM inside of and outside of tmux?
What is PAGER inside of and outside of tmux?
What is your OS, distribution and version?
Does vim work correctly inside your tmux sessions in general?
Any other information that would help.

[2015-07-31 17:57] ericlathrop commented on #124
Thanks for helping with this!

Inside of tmux:
[code]
Outside of tmux:
[code]
Ubuntu 14.04
Vim works fine inside of tmux, that's how I use it most of the time.

[2015-07-31 17:58] ericlathrop commented on #124
My vim and tmux config are here: https://github.com/ericlathrop/dotfiles

[2015-07-31 18:01] ericlathrop commented on #124
I noticed this error, but I get it even when outside of tmux and vimpager works fine:
[code]

[2015-07-31 18:02] ericlathrop commented on #124
I deleted my vim config, and still get the problem.

[2015-07-31 18:04] ericlathrop commented on #124
Vim 7.4.52
Tmux 1.8

[2015-07-31 18:08] ericlathrop commented on #124
If I delete [my .tmux.conf](https://github.com/ericlathrop/dotfiles/blob/5dffc498fd2c489cd14f992bc458d239d0ba050b/.tmux.conf) the problem goes away.

[2015-08-04 10:31] rkitover commented on #112
I was thinking I could support both bundling mechanisms in the Makefile.

I'm actually working on a debian/ right now, and adding another build mode where the support files are in /usr/share somewhere would probably make the package more like a normal package, but I'd still want it to build the full vimpager for vim.org.

So I might work on this sometime soon.

[2015-08-19 00:00] rkitover commented on #124
@ericlathrop sorry about the delay, I've been absorbed in some other projects and shaving some yaks.

I just tried your .tmux.conf on my mac and on my ubuntu 15 (vivid) VM.

Everything seems to work ok, it calls vimpager and it works.

The tmux in vivid (ubuntu 15) is 1.9.

Here is a way you can backport vivid tmux:

add this to your /etc/apt/sources.list

deb-src http://us.archive.ubuntu.com/ubun

[2015-08-19 13:46] rkitover commented on #124
@ericlathrop the awk error you mentioned should be gone in master as of a few weeks ago, taking a closer look at it

[2015-08-21 20:49] ericlathrop commented on #124
@rkitover it seems to be working fine for me now!

[2015-08-21 20:49] #124 closed

[2015-08-22 13:19] joelostblom opened #126 "Error message /usr/bin/pager: bad option '-s'"
Ever since installing `vimpager`, I get the error `/usr/bin/pager: bad option '-s'` when trying to run the `man` command. I installed `vimpager` on Ubuntu 15.04 using `sudo make install-deb`. If I specify the pager `man -P vimpager` it works. How do I get the default pager to work with man pages again?

[2015-08-22 19:50] rkitover commented on #126
Try updating your clone and reinstalling, I added the -s option and it works now.

If you want to change /usr/bin/pager, see update-alternatives .

[2015-08-22 20:16] rkitover commented on #126
I should mention that this is a bug in Debian, because man should not assume /usr/bin/pager accepts the less -s option. I filed a bug with them.

[2015-08-22 20:39] joelostblom commented on #126
Thanks for the quick fix, it works now!​

On Sat, Aug 22, 2015 at 4:16 PM, Rafael Kitover <notifications@github.com>
wrote:

[2015-09-02 17:51] chyzwar opened #127 "install-deb fails in ubuntu 15.04"
Hi

I got his message when I try  to install. I clone vimpager to /opt/vimpager and when I try to run install I am geting this message.:

[code]

Thanks,

Marcin

[2015-09-02 17:54] rkitover commented on #127
Are you running this as root or under sudo?

[2015-09-02 18:03] Chyzwar commented on #127
As sudo

[2015-09-02 18:09] rkitover commented on #127
If this is the only output you see, then "apt-get update" is failing, that is the first command in that recipe.

[2015-09-02 18:25] Chyzwar commented on #127
It is usual with some ppas failing

output from apt-get update
[code]

It still finish but with some ignored, I dont think there is anything major or breaking in this ?

[2015-09-02 18:40] rkitover commented on #127
If this is the issue the commit I just pushed should fix it, please update your clone and try again.

[2015-09-02 18:50] Chyzwar commented on #127
Ok, I will try it now.

I still get error but in onother place:

[code]

[2015-09-02 19:37] rkitover commented on #127
Sorry, hopefully I just fixed it.

[2015-09-02 20:27] Chyzwar commented on #127
Thanks, installation was successful.

[2015-09-15 09:52] rkitover commented on #105
Hi @ELLIOTTCABLE,

So I wanted to give you an update on the whole AnsiEsc thing.

I've been doing a lot of work on it recently, which you can see in this PR:

powerman/vim-plugin-AnsiEsc#1

The way it does color combinations is fundamentally broken and it will be a while before we put something together that will work well for a complex file like the one you provided.

There is also an issue in vi

[2015-10-08 00:47] olalonde opened #130 "Grey color instead of green for new lines"
<img width="341" alt="screenshot 2015-10-08 08 46 26" src="https://cloud.githubusercontent.com/assets/416585/10355016/26e9e706-6d99-11e5-86be-1f01db900696.png">

For some reason, the colors seem off (e.g. no green color) when I'm using `git diff` with vimpager.

[2015-10-14 01:58] ELLIOTTCABLE commented on #105
@rkitover sorry, I don't have a raw ASCII file to drop somewhere; but you can get similar output to that yourself out of the program in question:

[code]

Hope that helps? Let me know if you need anything else.

[2015-11-01 17:00] rkitover commented on #130
Make sure you are not disabling AnsiEsc and you have the latest version.

[2015-11-20 16:44] jrwesolo commented on #126
@rkitover Will this make it into an official release soon? I am on a mac and using Homebrew. Homebrew has [2.06 as the latest version](https://github.com/Homebrew/homebrew/blob/master/Library/Formula/vimpager.rb) which currently does not include the `-s` option.

[2015-11-20 23:18] rkitover commented on #126
Sorry, life has been keeping me from making a new release for a while, but now that you've poked me about it I'll try to get one out over the next 2-3 weeks.

In the meantime, you can use this script to install git master in homebrew, just paste the commands into your terminal:

git clone git://github.com/rkitover/vimpager
cd vimpager
brew -v update
brew uninstall --force pandoc
brew -v install pa

[2015-11-25 17:13] jrwesolo commented on #126
@rkitover Thanks for the instructions! I totally understand life getting in the way. No worries.

[2015-11-27 05:58] acgtyrant opened #131 "Ctrl D does not work instantaneously"
I hit `ctrl-d`, and it takes a little seconds to down while other `ctrl-b`, `ctrl+f`, `ctrl+u` can work  instantaneously.

[2015-12-03 18:41] jcelliott commented on #131
Same issue here.

[2015-12-05 11:07] rkitover commented on #131
@acgtyrant  @jcelliott :

Check :verb map <C-d> and :verb map d

I don't see this issue in my setup, it must be interference from some plugin you are using. Let me know what you find.

[2015-12-05 12:20] acgtyrant commented on #131
n  ds            <Plug>Dsurround
		Last set from ~/dotfiles/Vim/.vim/bundle/vim-surround/plugin/surround.vim
	   d           & <C-D><SNR>1_L
		Last set from /tmp/vimpager_14554/extra_vim_home/macros/less.vim

So I have to change the map now, thank you!

[2015-12-05 12:20] #131 closed

[2015-12-05 12:50] rkitover commented on #131
@acgtyrant  @jcelliott

Put this in your ~/.vimrc :

[code]

[2015-12-05 20:28] rkitover commented on #131
Fixed in master.

[2015-12-06 21:19] jcelliott commented on #131
Thanks! I should have checked that before commenting.

[2015-12-10 21:04] shaaati opened #132 "vimpager and shell escape sequence injection"
Inspired by reading http://openwall.com/lists/oss-security/2015/09/17/5 I decided to test `vimpager`'s robustness against escape sequence injection. I created the example file mentioned on the mailing list and a freshly installed `vimpager` (that is, without any configuration) failed in showing me the malicious part because it handed the very short file to `vimcat`, which behaved exactly as the st

[2015-12-11 21:34] rkitover commented on #132
Thanks for the detailed report, I'll try to get back to you in a week or two.

[2016-01-13 14:21] lucc opened #133 "Vanished tempfile with short file on stdin."
When I run vimpager with a short file on stdin I get an error message that a tempfile does not exist:
[code]
Running `echo 'up to $LINES-2 lines' | IN_BASH=1 /usr/bin/bash -x /usr/local/bin/vimpager` I found that the problem lies with vimcat ([output](https://gist.github.com/lucc/5882631e1fd1ffcd65b4#file-vimpager-log)). When I run `echo 'up to $LINES-2 lines' | IN_BASH=1 /usr/bin/bash -x /usr/loc

[2016-01-16 18:15] rkitover commented on #133
The AnsiHighlight function is inlined in vimcat, try changing silent! source /usr/local/bin/vimcat to just source /usr/local/bin/vimcat and remove the q so you can see the errors in vim.

[2016-01-16 18:41] lucc commented on #133
I tried that, it did not help but lead me to the solution: I use neovim as a vim replacement (vim is symlinked to neovim) and neovim does not support the `-X` command line option used in vimcat. When I remove that it works. If you want to support the usage of neovim in this way you could check if `[[ $(basename $(readlink $(which vim))) = nvim ]]` and the remove the -X.

[2016-01-16 19:38] rkitover commented on #133
Thanks for debugging, I will add support for neovim.

[2016-01-30 07:17] step- opened #134 "Vimscript errors for 6f85485 vimcat"
I installed 6f854858 with Makefile `PREFIX=/usr` and tested `vimcat /usr/bin/vimcap`
My rxvt-unicode terminal shows nothing, there is no prompt, and echo is off. If i type `:q<C-R>` I get echo and shell prompt back, but no colorized output. So I added vim option `-V21/tmp/vimlog` in /usr/bin/vimcat, tried again and found many vimscript errors in the log file. Some errors concern the vim surround p

[2016-01-30 12:31] rkitover commented on #134
I think the problem is that you didn't enable conceal in vim, I'll see if I can fix this.

[2016-01-30 12:56] rkitover commented on #134
I can't figure out how to compile vim with or without conceal right now, but I think I fixed it, please try master.

[2016-01-30 18:21] rkitover commented on #134
Ok I tried this on a vim with -conceal and it works.

[2016-01-30 22:59] step- commented on #134
It works for me as well now, both vimcat filename and vimpager filename. Thanks for this quick fix.

[2016-01-30 22:59] #134 closed

[2016-01-31 00:01] step- opened #135 "Vimpager blocked with no output"
Perhaps I was too quick to close #134, however `vimcat filename` _does work_ on my system now, unlike `vimpager filename`, which blocks with no tty echo; The display issue is exactly as in #134. I can't attach a log file because the trick of adding `-V21/tmp/vimlog` in the vimcat script doesn't work anymore, which actually led me to a work-around and, I think, a clue as to what the issue could be.

[2016-01-31 19:41] rkitover commented on #135
Yeah I bundle everything in vimpager so that it's self contained, I forgot to run `make` which installs everything into it, sorry, fixed now.

[2016-01-31 19:48] step- commented on #135
Thanks. I noticed the new `vimcat_script` creates vimcat with permissions 775, whereas the previous one was created 755. Is that change intentional?

[2016-01-31 22:20] rkitover commented on #135
That's just my umask on the machine I happen to run uuencode on, the perms on the root /tmp directory itself are safe so it doesn't really matter.

[2016-01-31 22:33] step- commented on #135
Thank you.

[2016-01-31 22:33] #135 closed

[2016-02-03 18:45] PunkPhysicist opened #136 "Print with line numbers"
Is there a way to print with line numbers? Currently I'm working around this issue with
`    cat -n FILE.foo |vimcat -c 'set filetype=foo'
`
which works okay, but then I don't quite get the same output as just
`    vimcat FILE.foo
`
Is there a way to implement effectively the command cat -n for vimcat?

[2016-02-04 19:18] rkitover commented on #136
I will do this.

[2016-02-04 19:19] PunkPhysicist commented on #136
Awesome, thanks!

[2016-02-05 11:06] rkitover commented on #136
Please try `vimcat -n` from master.

Looks good? I made the numbers bright white, but if you think a different color would be better let me know.

I really need to do a release soon.

[2016-02-05 20:01] PunkPhysicist commented on #136
@rkitover Works great, thanks!

[2016-02-06 17:45] rkitover commented on #136
@PunkPhysicist I just added the `vimpager -N` option, as well. It's capital N because that's what less uses.

This just does a `:set nu` so it works a bit differently.

[2016-02-07 21:07] aroig opened #137 "vimpager error due to tabs and ansiesc"
Sometimes vimpager errors out with the following message

    Error detected while processing function <SNR>1_DoAnsiEsc[2]..<SNR>1_ConcealRetab:
    line   32:
    E21: Cannot make changes, 'modifiable' is off

I can trigger it with

    echo -e "\e[31m\tX\e[m" | vimpager

This happens with c0526d3 but not with 0cc210c

[2016-02-07 21:37] rkitover commented on #137
Sorry I didn't see this with my homebrew or ubuntu vim. I'll see if I can fix this anyway.

[2016-02-08 17:11] aroig commented on #137
Ok, sorry for misleading you with this one. I have ansiesc disabled in my `vimpagerrc`, and when updating to current master, it got enabled by default due to the change in the config option names.

It turns out the real error was introduced by b663f2c.

I'm testing it on arch linux with vim 7.4.1190.

[2016-02-08 17:26] rkitover commented on #137
That is odd because I'm checking for the old `g:vimpager_disable_ansiesc` option as well.

[2016-02-08 17:46] aroig commented on #137
The condition on the `ansiesc` check was wrong. I fixed it in #138. This error is a different story and remains open, though.

[2016-02-09 18:23] rinchen opened #139 "make install-deb fails due to missing file"
`cp: cannot stat ‘TODO’: No such file or directory
dh_installdocs: cp --reflink=auto -a TODO debian/vimpager/usr/share/doc/vimpager returned exit code 1
debian/rules:8: recipe for target 'binary' failed
make[1]: *** [binary] Error 2
`

[2016-02-10 10:39] rkitover commented on #139
Sorry I totally forgot about this, please try master.

[2016-02-10 17:26] rinchen commented on #139
Fix confirmed. Thanks!

[2016-02-10 17:26] #139 closed

[2016-02-10 18:39] aroig opened #140 "can't disable less compatibility mode"
It seems that less compatibility mode can't be disabled from `vimpagerrc`. Setting

    let g:less.enabled = 0

does not disable it. It turns out that `less.vim` is loaded after `vimpagerrc`, and `less.vim` overrides a previously set `g:less.enabled`.

[2016-02-10 20:22] PunkPhysicist commented on #136
@rkitover Awesome, works great!

[2016-02-10 20:22] #136 closed

[2016-02-10 20:24] rkitover commented on #140
Thanks, I did not notice I fucked that up. I need to refactor this some more, working on it right now.

[2016-02-11 20:23] rkitover commented on #140
Please try master.

[2016-02-11 20:23] rkitover commented on #137
Please try master.

[2016-02-11 22:13] aroig commented on #137
That particular problem seems fixed now. I'll enable ansiesc in my vimpagerrc and I'll let you know if I find anything else.

Thanks!

[2016-02-11 22:15] aroig commented on #140
hmm... it still enables less mode disregarding my `let g:less.enabled = 0`. I'll try to get more information of what is going on...

[2016-02-11 22:38] aroig commented on #137
Oh, by the way, does ansiesc work fine with `git diff`? It looks like ansiesc does its thing when doing `echo -e "\e[31mABC" | vimpager`, but not when using vimpager as a pager for `git diff` (I see the ansi codes in the vim buffer without color).

[2016-02-11 23:05] aroig commented on #140
Ok, I went through the code...

1. line 229 in `less.vim` enables less mode unconditionally. I assume it is a leftover that should be removed.

2. line 49 in `less.vim` alone is not enough to enable less mode when `g:less.enabled=1`. I guess it is executed too early and the key bindings are not set. Can it be hooked up later, after the buffer is read?

Sorry for not being more helpful, I'm not tha

[2016-02-12 12:18] rkitover commented on #140
Sorry I should have tested this, works now.

I'm preparing a release, I thought it would take a couple of hours but it's taking many days, heh.

[2016-02-12 12:20] rkitover commented on #137
So this should work, the autocmd in src/vimpager.vim in the function SetupAnsiEsc is supposed to turn this on. If you do an `:AnsiEsc` you will see them.

We need to figure out why it's not working for you.

Try turning off your plugins with `set noloadplugins` and see if it makes a difference, if so we can figure out which plugin. I suspect it's something to do with a git filetype.

[2016-02-12 13:16] aroig commented on #140
It works for me now.

Thanks!

[2016-02-12 13:43] aroig commented on #137
You are right, it was a bad interaction with the git plugin. I was loading it explicitly when vimpager is a child process of git. Probably I shouldn't do that. Also after testing this, I will disable ansiesc and let vimpager do the coloring. So, this is solved for me.

Thanks!

[2016-02-12 13:52] aroig commented on #137
Oh wait, this is getting weird now.

If I disable the less compatibility mode and enable ansiesc like this

    let g:less.enabled = 0
    let g:vimpager.ansiesc = 1

Then vimpager gets stuck with a black screen and consuming CPU in the following test case

    echo -e "\e[31m\tXXX\e[0m" | vimpager

But It works fine if I enable less mode!

[2016-02-12 16:39] rkitover commented on #137
I will try the git plugin and see if anything needs to be tweaked for it.

In the second case, do you have passthrough enabled or disabled? I cannot reproduce this here, we'll need to do more debugging if you care to pursue this.

[2016-02-12 18:51] aroig commented on #137
Sorry, I should have tested it with a minimal vimpagerrc. The following vimpagerrc should reproduce the problem.

    let g:vimpager = {}
    let g:less     = {}
    let g:vimpager.ansiesc = 1
    let g:vimpager.passthrough = 0
    let g:less.enabled = 1

    autocmd BufRead,BufWinEnter * setlocal readonly nomodifiable

when doing

    echo -e "\e[31m\tXXX\e[0m" | vimpager

Making the buffer non-m

[2016-02-13 02:11] rkitover commented on #137
Thanks! Should be fixed now.

[2016-02-13 08:57] aroig commented on #137
I confirm this is fixed on my end. Thanks!

[2016-02-16 21:47] rkitover commented on #119
I've finally implemented this, both multiple file support and a `-h` option for usage, as well as an error for unreadable files.

Gearing up for a new release soon.

[2016-02-22 23:42] boojum opened #141 "vimpager not reading vimrc"
I moved my `vimrc` at el to `XDG_CONFIG_HOME`, and now `vimpager` doesn't read it. Relevant part from my rc's:
[code]
[code]
Setting desired options in `vimpagerrc` doesn't work either as it can not find vim folder (relevant for the color scheme :-)).

Is there an easy way to resolve it?

[2016-02-23 01:24] rkitover commented on #133
Sorry for taking so long to get back to you on this, I removed the -X, the extra millisecond saved is not worth the effort of keeping it or doing some sort of version check.

As far as neovim goes, I need to add much more extensive support for it eventually.

[2016-02-23 07:42] lucc commented on #133
I can now run `vimcat < short_file` without problems but `vimpager < short_file` still fails.

[2016-02-23 13:03] rkitover commented on #133
Sorry I had a bad evening last night, I forgot to run make, try now.

[2016-02-23 16:12] lucc commented on #133
Works!

PS: I am still in favor of #112, which would have saved you the rebuild ;)

[2016-02-23 16:12] #133 closed

[2016-02-23 18:30] rkitover commented on #133
@lucc

Yeah I will implement #112 for the release after this one. The way I think of doing it is, vimpager will be stripped on `make install` or `make install-deb` (which calls `make install`) and the support files will be placed into /usr/share/vimpager or equivalent. The fat script will still be in the repo and on vim.org.

Now as for neovim, I just had an idea. What if we check if EDITOR=nvim a

[2016-02-23 20:10] lucc commented on #133
Might work (for me for example) or might not. There are also packages like [neovim-symlinks](https://aur.archlinux.org/packages/neovim-symlinks/) which could make this approach fail. (I originally opend this issue because I use this package and vimpager was thus actually using nvim.)

[2016-02-23 23:09] rkitover commented on #133
Well, I'm not going to do any nvim incomaptible things even if the binary is called `vim`. It's just that right now it first checks for vim, uses that if found, and then checks for nvim. But people who have nvim are likely to have vim as well, so I was thinking if `EDITOR=nvim` it would first check for nvim instead.

[2016-02-24 19:19] rkitover commented on #141
I've been meaning to fix this for a long time, should be much better now, please try master.

[2016-02-26 09:36] rkitover commented on #141
@boojum

Does this work for you now?

[2016-02-26 10:36] boojum commented on #141
Yes! All works as it should, thanks!

[2016-02-26 10:43] boojum commented on #141
Er... sorry, but `~/.vimpagerrc` is still not picking up new vim folders location. If I run `vimpager` without config file it does find `vimrc`, no problem. The issue still persist when using `vimpagerc`.

[2016-02-26 10:48] boojum commented on #141
One more thing: `vimpager` doesn't respect XDG_CACHE_HOME for `viminfo` files and creates them in user home. New location is set from within `vimrc`.

[2016-02-26 15:23] rkitover commented on #141
@boojum I've improved the vimpagerrc finding heuristics and disabled viminfo, please try master.

I'm curious though, how do you set the viminfo location, because it was not explicitly specifying a different one.

viminfo will need better handling in the future, probably in the release after this one.

[2016-02-27 07:41] boojum commented on #141
I'm afraid that both issues persist. Two tests, first using `~/.vimpagerrc` with only one line:
`colorscheme molokai`
and `vimpagerrc` is complaining that it can't find the colour scheme, as well as still dropping `.viminfo` in `$HOME`.
I without `~/.vimpagerrc`, and with this in my `vimrc`:
[code]
It finds my `vimrc` but nonumber / norelativenumber settings are applied globally, no just to `vimpa

[2016-02-27 10:03] rkitover commented on #141
Well, vimpagerrc does not complement vimrc, it is the replacement vimrc, so you use one or the other. This has been a point of confusion for some people, so perhaps I should add something that loads both files if they both exist.

In the second case, when you initialize the `g:vimpager` dict, you must check `g:vimpager.enabled` like so:

[code]

[2016-02-27 15:47] rkitover commented on #141
By the way, the bundled less.vim sets `nonumber` and `norelativenumber` automatically. And ff you already set `syntax` and `filetype` in your `vimrc` there is no need to set it again in the `if` block.

[2016-03-05 16:06] boojum commented on #141
Sorry for the silence, I was offline for a bit. All is working as it should now.

[2016-03-05 16:06] #141 closed

[2016-03-15 15:11] joseluis opened #144 "ANSI Escape codes are not maintained when piping"
I'm trying to use vimpager as the fileviewer for [vifm](https://vifm.info), but despite showing color when invoking it on the terminal, it doesn't show any colors at all when invoked inside vifm.

*I'm using Mint 17.3 based on Ubuntu 14.04*

I can use other solutions (like pygmentize and source-highlight) with proper color inside vifm, but I can't with vimpager / vimcat. So I made a test:

It does

[2016-03-15 17:01] rkitover commented on #144
Hi @joseluis,

this will work, as an example:

[code]

HTH

[2016-03-17 07:51] joseluis commented on #144
Thank you, that definitely solved it. It finally was so easy it hurts. :smile:

[2016-03-17 07:51] #144 closed

[2016-03-22 22:43] ocehugo opened #145 "vimpager and ipython/jupyter cause kernel to hang"
Hi @rkitover,

it seems that vimpager is not as compatible as other pages for ipython/jupyter. I found this annoying bug using vimpager as the ipython pager through c.TerminalInteractiveShell.pager = 'vimpager'.

For the help funcitons it works, but it seems that for debugging (%pdb) it cause the kernel of ipython to hang.

To reproduce you can run the jupyter console code below with the option ab

[2016-03-23 03:02] rkitover commented on #145
@ocehugo I tried this, and it just spits out two attribute errors for me, is there some option that controls invoking the pager?

[2016-03-23 03:07] ocehugo commented on #145
Humm...did you tried calling the ```x.error()``` again after that? I found out that (maybe related to ipython internals) sometimes it works the first time (returning an AttributeError as expected and opening the debugger dialog) , but soon after quitting the debug and getting other exceptions the kernel hangs trying to comunicate/show with the pager.

[2016-03-23 03:12] rkitover commented on #145
This is what I see:

![screenshot](https://www.dropbox.com/s/uia9tahujh3y3s1/Screenshot%202016-03-22%2023.10.36.png?dl=1)

[2016-03-23 03:19] rkitover commented on #145
@ocehugo Maybe you can give me something that generates a longer exception stack?

[2016-03-23 03:45] rkitover commented on #145
@ocehugo also, what OS are you on, are you using master and have a recent vim?

[2016-03-23 03:52] ocehugo commented on #145
OSX El Capitain

[code]

[2016-03-23 04:04] rkitover commented on #145
I put that into `~/.jupyter/jupyter_console_config.py` and it does not make a difference. I am also on El Cap.

[2016-03-23 04:12] rkitover commented on #145
BTW, if you are using vimpager from homebrw, please try master instead.

[2016-03-23 05:17] ocehugo commented on #145
That is really strange, because i can make the kernel hangs if using the option and without it it works.

I can't install vimpager HEAD through brew :
[code]

[2016-03-23 05:42] rkitover commented on #145
The formula is outdated, I just made a tap, use this:

[code]

[2016-03-23 05:51] ocehugo commented on #145
updated and keep happening... I will leave it as is, since it's not as important (the functionality doesnt change in using less inside the ipython console).

PS: I noted that now with your tap vimpager is much more slower than with the older on.

[2016-03-23 05:59] rkitover commented on #145
Yeah I'm in the middle of a major refactor, I'll have to look at the speed issues.

In any case, since I can't reproduce your issue I don't know what the problem is, unless you can find some other way to reproduce it.

[2016-03-27 18:26] rkitover commented on #112
@lucc This is done in master. vimpager is stripped on make install and runtime is installed into `$PREFIX/share/vimpager` .

[2016-03-27 18:28] rkitover commented on #131
@jcelliott @acgtyrant

This is now fixed **properly** in master. The budled less.vim uses <nowait> for buffer-local mappings and there is no longer a conflict with surround.

This only works for vim 7.4 though, for 7.3 surround is still disabled.

[2016-03-28 04:55] acgtyrant commented on #131
Copy.

[2016-03-30 20:45] lucc commented on #112
Very nice. Although I think the more natural way to do it would be to have an unbundled version in the git repository and have a target in the makefile to create the bundled script. Main reason: There is a lot of "text" in the script that is not human readable and messes up highlighting and slows down vim when editing the script.

[2016-03-31 08:41] lucc commented on #112
Also on a031dca7ff7552f511d78595f7925c35f719bcd9 the `autoload_vimpager_utils_vim` function is not stripped by the makefile. It is even called by `extract_bundled_scripts` (which is called by `page_files` which is called by `main`) but it calls `do_uudecode` which is not defined! I assume that t should also be stripped.

[2016-03-31 23:05] rkitover commented on #112
I've done this.

[2016-04-01 03:01] pepoluan opened #146 "make install-deb fails in Ubuntu 14.04"
So I followed the instructions:

[code]

The last step failed. Here's the tail end of the messages:

[code]

Please advise.

[2016-04-01 05:32] rkitover commented on #146
Sorry, fixed.

[2016-04-03 15:08] lucc commented on #112
@rkitover very nice that essentially implements the idea I tried to propose here. Thank you!

[2016-04-03 15:08] #112 closed

[2016-04-04 13:56] #123 closed

[2016-04-04 13:56] #137 closed

[2016-04-04 13:56] #140 closed

[2016-04-15 10:39] lucc commented on #58
What is the reason that existing files are copied to `/tmp`? When I execute `vimpager ~/notes.mkd` and then press <kbd>CTRL</kbd><kbd>g</kbd> inside vimpager it prints `"/tmp/vimpager_30576/notes.mkd" line 6 of 311 --1%-- col 1` in the status line. If there is no explicit reason I can send a PR to change that behaviour (at least for existing files).

[2016-04-15 10:59] lucc commented on #60
In order to find the system vimrc file we can do something like this:
[code]
This also works for neovim.

[2016-04-15 11:05] lucc commented on #73
I can not reproduce this. When I execute `run-help man` and then `:echo g:vimpager.ptree` inside vimpager it prints `['zsh', 'man']`.

[2016-04-15 15:25] rkitover commented on #58
@lucc this is on my TODO list, and should be easier to do now after all the refactoring I've been doing lately. The problem with paging STDIN is going to be much more complex however. If you want to give it a go (for the former) then by all means!

[2016-04-15 15:26] rkitover commented on #60
Thanks @lucc, I'll play with this.

[2016-04-15 15:35] rkitover commented on #73
@lucc this is probably because I finally refactored all the ps crap very recently, so we can close this now, thanks for testing!

[2016-04-15 15:35] #73 closed

[2016-04-15 23:48] lucc opened #149 "Questions about implementation details."
This is a random collection of questions that I came up with when I read through the code in my attempt to create a PR as discussed in #58. They are mainly questions about the intention and reason of certain parts of the code.

1. Which shells are suported? Can we have a comment in the source about where to find documentation on them? I find it hard to work on the shell script which tries to do th

[2016-04-17 10:18] rkitover commented on #149
Hi @lucc,

1. vimpager and vimcat are written for POSIX sh, the canonical reference is here: http://pubs.opengroup.org/onlinepubs/9699919799/utilities/V3_chap02.html#tag_18_01 in practice that means shells like ksh and ash are the best shells to test with. POSIX sh means not using bash features like arrays.
2. I try to do this when I can now, but sometimes the interface functions better when some

[2016-04-17 10:27] lucc commented on #149
I just thought about the shell selection: If we install vimpager into /usr/local via the makefile we could also select a shell in the makefile and hard code it into the script. Then the shell selection hack would only be neccessary for the portable version. And also the system selection could be moved to the makefile and the portable version (have a look at [`pass`](https://www.passwordstore.org/)

[2016-04-17 14:52] rkitover commented on #149
That's a good idea, I will do this now. With one caveat, the version in the repo has to run it for pathogen users.

[2016-04-17 15:06] lucc commented on #149
You can have a look at the code [in the script](https://git.zx2c4.com/password-store/tree/src/password-store.sh#n189) and [in the makefile](https://git.zx2c4.com/password-store/tree/Makefile#n39) of `pass`. Like this you can run the script from the git repository without bundleing anything. And platform specific code can be sourced into the main script (you might have noticed that I advocate to pu

[2016-04-17 15:37] rkitover commented on #149
That's sort of what I was planning on doing.

[2016-04-18 20:58] rkitover commented on #149
@lucc Ok, I've implemented this, looks ok to you?

[2016-04-19 00:33] lucc commented on #149
Question 7: What make versions are supported? Is there a reason that you write all shell commands in the makefile seperated by semicolon+backslash+newline instead of putting them on differnt lines (apart from the cases where it is neccessary for shell control structures (if, while, ...) and shell variables)?

About af50ec9: I started testing. The first thing I noticed is that the order of the shel

[2016-04-19 01:56] rkitover commented on #149
The make I target is standard UNIX make, or POSIX make, the stuff that pretty much all makes understand. This is `make` on e.g. Solaris and *BSD.

http://pubs.opengroup.org/onlinepubs/9699919799/utilities/make.html

This is also the make that the GNU autoconf/automake systems target, and their manuals are often helpful.

Honestly I just got used to the `;\` syntax for shell scripts in make, I can

[2016-04-19 11:51] rkitover commented on #149
@lucc I should also mention that the shell code in the Makefile must be for original bourne shell not POSIX sh, if you need one to test you can use heirloom-sh from here:

http://heirloom.sourceforge.net/sh.html

[2016-04-19 11:59] lucc commented on #149
Out of curiosity: Which system still uses this? I did only seriously run Linux and OS X and they always had bash (I did never use some tiny/embedded Linux distro).

[2016-04-19 13:53] rkitover commented on #149
Solaris uses original bourne for /bin/sh and its make uses it to run shell commands. I think it's overridable with SHELL, but there is no way to do this conditionally in UNIX make, that I know of. See the GNU autoconf portable shell guidelines, that's probably the best info on this.

[2016-04-20 23:46] lucc opened #162 "Streaming files with vimpager / not saving to `/tmp`."
Since version [7.4.1419](https://github.com/vim/vim/commit/49c39ff678e2ba9f7dc280b25368e12084a610cf) vim supports the `--not-a-term` option that will inhibit the warning to the user and the delay when piping files into vim.

Should we force the user to have this? It would make it possible to pipe text into vimpager and have no delay on startup. Also we would not need to copy anything to `/tmp` whe

[2016-04-21 18:30] rkitover commented on #162
I tried this and I always get `Vim: Error reading input, exiting...` do you have an example command where this works?

[2016-04-22 10:34] lucc commented on #58
Files that can be opened from disk (e.g. if they are not compressed) should not be copied to /tmp any longer after #164.

About reading from stdin: vim itself can only read from stdin if there are no file arguments. So this can only be implemented in vimpager if you have no file arguments as well. The use case `vimpager file1 - file2` to read from files and stdin will still need to buffer stdin to

[2016-04-22 15:57] minerva1129 opened #166 "Error detected while processing VimEnter Auto commands for "*": E492: Not an editor command: :ConcealRetab"
I get an error "Error detected while processing VimEnter Auto commands for "*":
E492: Not an editor command: :ConcealRetab" when 'git diff',
but pager, ansi coloring working greatly.

[2016-04-22 17:00] lucc commented on #166
Can you post the version (`vimpager -v`)? It is interesting to know how you installed vimpager or if you are running from git or the bundled version.

[2016-04-22 17:08] minerva1129 commented on #166
latest, 2.06.

[2016-04-22 17:09] minerva1129 commented on #166
`vimpager -v` didn't work for me. "bad option '-v'"

[2016-04-22 17:59] rkitover commented on #166
@minerva1129 please try git master.

[2016-04-22 18:28] lucc commented on #166
Try to use the current master from to reproduce the problem. There have been a lot of commits since 2.06. Then `-v` will also work.

[2016-04-22 21:45] klonuo opened #167 "Issues on Cygwin"
While trying to install:
[code]

I removed `docs` directive from Makefile and make the installation.

`vimpager` seems to work fine, but `vimcat` shows just the first line and hangs the terminal.

Cygwin 64bit on Windows 10

[2016-04-22 22:08] rkitover commented on #167
Thanks I'll take a look.

[2016-04-23 12:27] rkitover commented on #167
@klonuo please try master.

[2016-04-23 19:02] klonuo commented on #167
Thanks for prompt response

Works great.

[2016-04-24 03:44] minerva1129 commented on #166
@rkitover How can i try git master?

[2016-04-24 08:07] lucc commented on #166
You clone this git repository into a local directory and then run vimpager from there:
[code]
No do what ever produced the error you reported initially. You might also try the `-x` option that just landed in master do get more debugging output. Or the `$VIMPAGER_DEBUG` environment variable. See the README for an explanation of these.

[2016-04-24 09:49] #167 closed

[2016-04-24 10:05] rkitover opened #172 "milestone 2.07beta1"
@lucc

So 2.07 will be a huge release, it's been more than half a year since 2.06 and 2.07 will be in Debian. We need to determine what must be done for it.

The most important issue for me is fixing file streaming, I have some ideas about how to do this, using CursorHold among other things.

[2016-04-24 10:14] lucc commented on #172
I am looking forward to a 2.07. By the way you could use the milestones feature of github to mark some issues and PRs. Then we could start individual issues for these things and discuss them.

Can you post some code and ideas for the streaming stuff, then we can discuss it. I made some remarks [here](https://github.com/rkitover/vimpager/issues/58#issuecomment-213372160).

[2016-04-24 10:32] lucc commented on #172
Depending on your idea for the CursorHold autocmd it might also be interesting to do something similar for these events: `VimResized,FocusGained,FocusLost,CursorMoved`.

[2016-04-24 14:13] lucc commented on #149
Do you mean [these](https://www.gnu.org/savannah-checkouts/gnu/autoconf/manual/autoconf-2.69/html_node/Portable-Shell.html)? I just had a look at them and now I have this question:

9. Why are we wrapping `awk` and `sed` in functions? Is there a chance that they are not available on a system or are we looking for a particular "good" version? What features do we need in these programs that are not

[2016-04-24 15:32] minerva1129 commented on #166
thank you.`-v` option worked. but, Ansi coloring is not work.

<img width="1280" alt="2016-04-25 0 31 14" src="https://cloud.githubusercontent.com/assets/7879128/14768435/263ee7e4-0a7d-11e6-93d1-2f7c55d3d060.png">

[2016-04-24 16:02] lucc commented on #166
Some more questions:

1. What operating system are you using?
2. Which vimpager are you using (`vimpager -v`)? Maybe make sure that no other versions are installed (what does `type -a vimpager` say?)
3. How are you using vimpager? Did you `export PAGER=~/vimpager/vimpager` or `PAGER=~/vimpager/vimpager git log` or `git log | ~/vimpager/vimpager`?

[2016-04-24 16:15] minerva1129 commented on #166
@lucc
1. OS X El Capitan
2. vimpager 2.06-177-g750555e (git)
3. git config core.pager ~/vimpager/vimpager

[2016-04-24 16:43] rkitover commented on #172
@lucc This is my idea for implementing input streaming:

1. vimpager forks off a background process that receives data from stdin, or from a large file if it needs to be processed
2. any necessary processing is done on the data with callbacks, the processing is done block-wise in 4k blocks or so, the processing callbacks need to be aware that they may receive incomplete data and wait for more data

[2016-04-24 16:46] lucc commented on #166
In your first post you say "ansi coloring working greatly". And when you posted the image you say "Ansi coloring is not work" (as also visible in the image). So what happened to the situation of the original post? Are there situations where the coloring works and some where it doesn't (if so please tell us the different commands).

What happened to the error message from your initial post? Is it s

[2016-04-24 17:06] minerva1129 commented on #166
"Error detected while processing VimEnter Auto commands for "*":
E492: Not an editor command: :ConcealRetab" was from Homebrew vimpager
The image was vimpager cloned from here. There is no error message.

[2016-04-24 17:08] lucc commented on #172
If you want to force your users to have a new version of vim (or neovim) we could think about implementing that with jobs ([`job_start()`](https://vimhelp.appspot.com/eval.txt.html#job_start()) for vim and/or [`jobstart()`](https://neovim.io/doc/user/eval.html#jobstart()) for neovim). The plan roughly would look like this:

1. vimpager doesn't touch the file to be streamed. If stdin has to be used

[2016-04-24 17:10] lucc commented on #166
Can you post the debugging output of `PAGER="$HOME/vimpager/vimpager -x" git log`?

[2016-04-24 17:29] minerva1129 commented on #166
[code]

[2016-04-24 17:29] minerva1129 commented on #166
So long... sorry

[2016-04-24 17:30] rkitover commented on #149
@lucc

1. Yes, the point is to use the best version of awk and sed available. All awk and sed code is written for original awk and original sed in any case. No you cannot assume anything is POSIX compatible.
2. POSIX may require it but Solaris does not have this, and I don't know what other systems don't either, and why exactly is this an issue anyway? I only wrote those functions because it seeme

[2016-04-24 17:36] rkitover commented on #166
@minerva1129 You have to install vim from homebrew for AnsiEsc support.

Also please do a `git pull` in your vimpager checkout, there was a bug that just got fixed.

[2016-04-24 17:56] lucc commented on #149
About head and tail: I think that wasn't me but @eworm-de, see #74. Am I wrong?

[2016-04-24 22:14] rkitover commented on #172
@lucc sorry I confiused you with this other guy.

I added you as a collaborator, please continue to send PRs, except if it's a minor change, in which case feel free to commit to master.

This jobs thing looks interesting, but I'm not sure it helps here. And I'm wary of using fifos, their behavior is often unpredictable except in the simplest of cases.

I'm still shooting for at least vim 7.3 compa

[2016-04-24 22:20] rkitover commented on #149
@lucc yes I totally confused you with this eworm-de guy for some reason, sorry about that, my memory is fuzzy.

In which case, can we please stop putting braces around shell variables? I agreed to it because he asked me to, but it seems overkill, most people just write "$foo" and not "${foo}" in shell code.

[2016-04-24 22:24] lucc commented on #172
Thank you for the honor! But I will continue to ask about most of the changes I propose (send normal PRs instead of pushing myself). During the last conversations we had I saw that you often target systems I know nothing about.

If you want to be compatible to 7.3 jobs are out anyways.

[2016-04-24 22:25] lucc commented on #149
Yes we can. (Or should I say "Yes I can" since that is something I could push to master rather quickly right now :)

[2016-04-24 23:20] minerva1129 commented on #166
@rkitover My vim already has conceal. I did `git pull` but I can't see ansi coloring...

[2016-04-25 06:46] lucc commented on #166
Does the problem only happen with `git log` (and other git commands?). Which other situations do you have where it fails/works?

 What happens for
[code]
or
[code]
In all these cases where the colors are not displayed correctly what does `:call vimpager_utils#DoAnsiEsc()` in vimpager do?

Please also try if your vimrc/vimpagerrc file is at fault: `export VIMPAGER_RC=/dev/null` before debugging.

[2016-04-25 07:12] minerva1129 commented on #166
I tried to disable my vimrc by `export VIMPAGER_RC=/dev/null`. It worked.

My vimrc is [here](https://github.com/minerva1129/dotfiles/blob/master/.vimrc)
What is wrong in my vimrc??

[2016-04-25 07:29] lucc commented on #166
Try to make your vimrc shorter to find the error.

[2016-04-25 07:59] lucc commented on #162
The `read_vim_var()` stuff was more complicated than expected. Reference: #163

As we try to support vim 7.3 `--not-a-term` can't be used. Mentioned in https://github.com/rkitover/vimpager/issues/172#issuecomment-214046679

[2016-04-25 07:59] #162 closed

[2016-04-25 08:07] rkitover commented on #166
@minerva1129 hi, can you do me a favor, since your vim config is so complex, make a tarball of your ~/.vimrc and ~/.vim and post it somewhere like on dropbox so I can try it and debug.

[2016-04-25 08:17] lucc commented on #64
@hkjels Does `set t_ti= t_te=` in your vimpagerrc file do what you want? It works for me with vim but not with neovim (see https://github.com/neovim/neovim/issues/3432 for their issue, it might be fixed in neovim some day).

I found this as a first hit with a search engin: http://shallowsky.com/linux/noaltscreen.html

It is not hard to add a new command line options `-X` to vimpager to set these o

[2016-04-25 09:06] lucc commented on #67
@jorgesca do you still have this issue with the latest git version?

[2016-04-25 09:32] minerva1129 commented on #166
@rkitover [This](https://www.dropbox.com/s/hiktsuautubt8cp/vim.tar.gz?dl=0) is ~/.vim.
vimrc is [here](https://github.com/minerva1129/dotfiles/blob/master/.vimrc).

[2016-04-25 09:36] minerva1129 commented on #166
I tried to make all plugins disable. Coloring worked. I think the bug is caused by some plugin.

[2016-04-25 10:15] rkitover commented on #64
@lucc thanks, I didn't know what this guy was talking about, will look into it.

[2016-04-25 10:43] lucc commented on #64
He wasn't talking much to begin with :)

[2016-04-25 11:23] lucc commented on #85
Since c9b0bd3fb597e06ad2962f13f405848eac1d555d the `:Page` command is part of vimpager.

[2016-04-25 11:23] #85 closed

[2016-04-25 11:26] lucc commented on #172
I took the liberty to create the milestone and add some issues to it.

Do you think we can close these issues (because they are resolved and all further details are covered by the new issues in parentheses)?

- [ ] #11 (#105)
- [ ] #45

[2016-04-25 12:54] rkitover commented on #166
@minerva1129 please do another `git pull` and try again.

[2016-04-25 13:20] minerva1129 commented on #166
@rkitover @lucc Thank you so much!!!! I love vim & vimpager 😊

[2016-04-25 13:26] rkitover commented on #166
@minerva1129 @lucc Oh I forgot to mention, there were two problems, both of which needed to be resolved eventually anyway:

1. `dein#load_state()` completely overwrites `runtimepath` from the `~/.vim/dein/state_vim.vim` file, so the vimpager runtime was removed from runtimepath and it couldn't find its own plugins. To fix this, we re-add vimpager's runtime at BufReadPre time.
2. incompatible versi

[2016-04-25 14:59] lucc commented on #166
about 1: that is not something vimpager should need to do. I think that is an error with dein that should be fixed there.

about loading incompatible/correct plugin versions: can we fix this by just putting our entry in runtimepath first or last (which one has precedence?)

Maybe these kind of issues can be fixed by dropping support for ~/.vimrc and friends (only supporting vim*pager*rc). That wou

[2016-04-25 15:26] rkitover commented on #166
@lucc

Well it was not a lot of code to fix this, and I think this will take care of a large percent of user configs.

1. The thing with dein, yeah, it's not ideal but I'm not sure I could call it a bug, I might ask on their issues page about it.
2. Not really possible because most plugin managers prepend plugins to the `runtimepath`, so if the user has an older version of one of our plugins it wi

[2016-04-26 14:25] lucc commented on #166
Another idea I came up with is to block normal/foreign versions of the plugins that we ship with their normal variables (eg by setting something like `let g:the_plugin_loaded = 1` depending on the plugin) Then we just rename that variable in the bundled version to `g:the_plugin_vimpager_version_loaded` and it should be loaded as a normal plugin (no manual loading by vimpager required).

[2016-04-26 21:14] Shougo commented on #166
No.  This is `dein#load_state()`, `dein#save_state()` feature.

[2016-04-27 00:44] rkitover commented on #166
@lucc

I'm happy with my solution unless you see any technical problems with it. Yes, it requires updating the code when new plugins are added, but that will happen rarely.

[2016-04-29 00:56] doctorlard commented on #146
On 14.04 I had to change the pandoc -f option to "markdown" (not "markdown_github") in the Makefile and remove the -M options in scripts/pandoc-sh as well, to get it to build. Just in time for 16.04 :-)

[2016-04-29 07:59] rkitover commented on #146
@doctorlard sorry, if you still have 14.04 can you try to build again? I think I fixed it.

I really need a travis job to test building debs.

[2016-04-29 08:03] rkitover commented on #146
Actually I should probably prepend the metadata to the file instead of just not including it.

[2016-04-29 10:01] rkitover commented on #146
@doctorlard ok, try this again and the man pages should come out correctly.

[2016-04-29 17:55] rkitover commented on #146
Whew, I finally have this working, now travis will automatically check the debian build and for lintian errors.

I should probably make it use a newer lintian though.

[2016-05-04 14:57] guiniol opened #174 "E254 with latest version of VIM"
Hello,

Since upgrading vim from 7.4.1689-1 to 7.4.1797-1, I get errors:
[code]

I have only seen it happen when I type `git diff`. I use the theme in https://github.com/guiniol/molokai.
I use `vimpager` as my pager by default (`export PAGER='vimpager'` in my zshrc).

Not sure what other information I could provide.

Cheers,

[2016-05-04 17:27] rkitover commented on #174
@guiniol Are you using vimpager master? I just tried installing the HEAD version of vim and I see no issue, I'm pretty sure I fixed this a while ago.

[2016-05-04 17:59] rkitover commented on #60
@lucc this is done ^^

[2016-05-04 18:02] guiniol commented on #174
I'm using version 2.06. I had no such errors before my last update of vim. This is on archlinux, so I'll see if anyone else has the same problem.

[2016-05-04 18:05] rkitover commented on #174
@guiniol Yeah this is due to a security fix in vim that limits the number of color names, so color 'none' has to be 'NONE'.

[2016-05-04 18:17] guiniol commented on #174
Just checked and it's fixed in `HEAD`. Sorry.
Is there going to be a release soon?

[2016-05-04 20:09] rkitover commented on #174
@guiniol I need to implement streaming for 2.07beta1 and fix a few other minor issues, this has been a major refactor overall, I can't give an exact ETA for when that's going to happen.

The master version is relatively stable now, so you may want to ask the arch maintainer to release a git sha version, I can build the docs if necessary etc.

[2016-05-04 20:21] guiniol commented on #174
Ok. There already is a git version. I try to stay on stable versions rather than git ones because I need to explicitly recompile git ones and I always forget ^^. I'll stay on the git one for now, so take your time. I was only asking to see if I waited a few more days or if I went with the git version.

[2016-05-05 03:35] HalosGhost opened #175 "AnsiEsc Errors when opening vimpager"
when using ``vimpager`` with anything that includes ansi escapes I get the following errors:

[code]

Any idea how I might fix this?

[2016-05-05 10:59] lucc commented on #60
@doctorcolossus does it work after 70aeb3e? Can this be closed?

[2016-05-05 11:00] #174 closed

[2016-05-05 11:02] lucc commented on #175
Looks like a dublicate of #174. Can you confirm (and close)?

[2016-05-05 11:38] rkitover commented on #60
@lucc not sure he'll get back to us, this was 3 years ago

[2016-05-05 12:18] jorgesca commented on #67
I can't answer right now. I am mostly using neovim now. I did try to go back to vim and test the latest vimpager, but it does nothing, like it sits forever doing nothing and I have to ctrl-c it to get back to bash. I am not sure yet what's going on, but I reverted all neovim-specific setting from my .bashrc

[2016-05-05 12:27] rkitover opened #176 "Support neovim properly"
Aside from vimpager and vimcat working properly when vim is a symlink to neovim, I propose the following:

1. check if 'vim' or 'nvim' are available in the PATH on startup, prefer vim
2. die with an error if neither vim nor nvim are available
3. check EDITOR, if set to nvim use nvim, ignore if set to a non-vim
4. all of this should be in inc/find_vim.sh used from vimpager and vimcat

TODO: support

[2016-05-05 12:59] HalosGhost commented on #175
Ahh, it seems to be, yes. My apologies for the noise.

[2016-05-05 12:59] #175 closed

[2016-05-05 15:19] lucc commented on #67
I use neovim instead of vim in combination with vimpager (`cd /usr/bin && ln -s nvim vim`) and it works. The only point where I have trouble is when vimpager tries to run under dash and uses neovim instead of plain vim (I have not yet solved the read issue behind this). But I can fix this with the `POSIX_SHELL` environment variable which vimpager uses. Either installing with `make install POSIX_SH

[2016-05-05 15:31] lucc commented on #176
The only vi variants we *can* support are those that support the scripting language we use. So I assume that is only vim and its derivatives (no plain vi). Only these two come to mind:
* neovim
* MacVim (already checked)

[2016-05-05 15:47] rkitover commented on #176
Yeah I would obviously write separate code for other editors, anyway that's just a very low priority idea.

Plain vi and nvi could conceivably work with a special version of less.vim.

[2016-05-05 20:49] lucc commented on #176
What is a good variable name? We can not use `$VIM` as vim uses that internally and I think we do want to export our variable to the environment in order to propagate it from vimpager to vimcat.

* `VIM_CMD`
* `VIM_COMMAND`
* `VIM_VERSION`
* `VIMPAGER_VIM`
* `VIM_VARIANT`
* `MY_VIM`

?

[2016-05-05 23:08] lucc commented on #117
This should be fixed since the standalone version is only build on demand.

[2016-05-05 23:08] #117 closed

[2016-05-05 23:08] #126 closed

[2016-05-06 09:31] lucc commented on #176
We can do this to check if a executable is really neovim even if it called vim:
[code]
Or we could check if it is a link but then we have to either require `readlink` or use the hack we use to find the project dir.

[2016-05-07 17:33] rkitover opened #180 "Add basic tests"
We need to start adding some basic tests and having travis run them, stuff gets constantly broken.

Things like, does it build, does the built version run, etc. would be a good start.

[2016-05-09 16:38] rkitover commented on #172
@lucc I've implemented streaming for vimcat see ^^, this is the prototype for vimpager as well, so I'm well on my way to finishing this up.

[2016-05-10 08:14] lucc commented on #180
What kind of test framework do we want to use?

1. We add a makefile target `test`.
2. We can add random shell snippets to that target?
3. We add a `tests` folder with random shell scripts and `make test` executes them all?
4. We use some fancy testsuite?

I am against 2. For 1 and 3 I can send PRs or code very easily.

[2016-05-10 10:16] rkitover commented on #180
@lucc Take a look here:

http://stackoverflow.com/questions/971945/unit-testing-for-shell-scripts

I don't like having to depend on bash for anything, but I'm leaning towards [BATS](https://github.com/sstephenson/bats) right now since it seems like the nicest framework. Also depending on bash just for tests doesn't seem like too big a deal.

For testing the viml we'd use some vim TAP compatible fr

[2016-05-10 10:20] rkitover opened #182 "factor out and improve common code in vimpager/vimcat"
As I was working on vimcat a couple days ago, I was thinking there are some things that both utilities do that we can factor out into `inc/`.

[2016-05-10 10:24] rkitover commented on #176
@lucc thanks, I think if we need to distinguish vim and neovim this will help, for now I'm just keeping everything compatible with both, but at some point this may be necessary.

In the viml I use

[code]

in one place already.

For the env vars, I was thinking:

1. check EDITOR for vim or nvim first
2. fall back to VIMPAGER_VIM
3. fall back to just calling `vim`

[2016-05-10 19:07] lucc commented on #182
Or we could merge both scripts into one.

Another idea which I tried a while back was to split vimcat into a shellscript and a vim script (like vimpager). The rationale behind this was that vimcat is either run from the repo, installed or bundled with the standalone vimpager, In the first two cases it is obvious that it need not be a mixed source script. And when it is extracted from vimpager it c

[2016-05-12 11:25] rkitover commented on #166
@lucc ^^ I made this much cleaner and not rely on internal plugin variables, and fixed a potential bug.

[2016-05-12 12:08] rkitover commented on #166
@lucc and I forgot to mention, I tested it with the reporter's config and it works perfectly.

[2016-05-13 08:02] lucc commented on #180
I had a look at bats and tried to write some tests. The first problem I encountered is that normally you do something like this in bats:
[code]
But that hangs as vimpager just `exec`s `cat` because `run` tries to capture the output and hence vimpager has no terminal on stdout. See https://github.com/sstephenson/bats/blob/master/libexec/bats-exec-test#L58 .

So either we have to redesign vimpager t

[2016-05-13 08:45] lucc commented on #180
I also had a look at some of the other test suits mentioned in that SO thread.

* [shelltestrunner](http://joyful.com/shelltestrunner/) depends on haskell so I think it's out
* shunit2 has [two](https://sourceforge.net/projects/shunit2/) [websites](https://github.com/kward/shunit2)
* [shunit](http://shunit.sourceforge.net/index.php) seems to be very old and has no documentation linked on the main

[2016-05-14 20:35] rkitover commented on #67
@jorgesca @lucc

So there seems to be some kind of hang with dash on some systems, can you guys please give me some details about your config so I can make a VM and try to reproduce.

[2016-05-15 01:09] lucc commented on #67
This setup hangs for me:
* Arch Linux
* neovim linked to vim (neovim-symlinks package from the AUR)
* python-neovim
* python2-neovim
* dash
* vimpager from git

It only hangs if used as PAGER from man, eg `MANPAGER='./vimpager -x' man man` gives:
[code]
and then hangs indefinitely.

I just noticed that `-u` is not even used at this point. I think we should parse the command line earlier and use a

[2016-05-16 13:55] lucc opened #188 "vimcat fails to display manpages."
The command `MANPAGER=./vimpager man some-short-manpage` fails since 7130363 (at the parent 17a38bc it is still working).  The man page I used is `urxvt-bell-command` because that's very short.

`./vimpager TODO.yml` and `./vimpager < TODO.yml` work fine (the file is handed to vimcat and correctly displayed).

At some point we have to figure out what man is doing to its pager. The other bug also o

[2016-05-16 17:28] rkitover commented on #188
@lucc

It works with master on my mac, I fixed this recently in fact.

What happens is `set ft=man` is written to the `$tmp/1.vim` file which the vimcat invocation reads. Make sure this is happening.

I fixed this in 6e2f641 .

On my Ubuntu VM that specific man page hangs, I need to look into that. It is highlighted though.

On my Solaris VM it doesn't pass through the short man pages because they

[2016-05-16 17:31] rkitover commented on #67
@lucc good point on -u and reading the vim config.

I'll try to bring up an Arch VM in the next few days and try it out. I had one before so I'm familiar with it.

[2016-05-16 19:47] lucc commented on #67
If you can install neovim on some other system you can try there first. Just `ln -s /usr/bin/nvm /usr/local/bin/vim` to make vimpager find the link to neovim before finding any real vim executable. (I assume /usr/local/bin is before /usr/bin in your $PATH.) I am not sure if python support is related. I can try to uninstall it and test later.

[2016-05-17 00:33] rkitover commented on #67
@lucc yeah I tried that already and I just tried it again, it works fine.

There is one issue though with the q mapping in neovim, for some reason it doesn't quit in the only buffer but switches to a No Name buffer.

[2016-05-17 01:30] jorgesca commented on #67
I cleaned up the mess I had today and tried vimpager with neovim. I can
confirm I experienced exactly what @rkitover described in the post above:
it works but it doesn't quit after pressing q

El lun., 16 de mayo de 2016 21:33, Rafael Kitover <notifications@github.com>
escribió:

--

*Ing. Jorge Scandaliaris*
Electrónica II
Dpto. de Electricidad, Electrónica y Computación
Facultad de Ciencias Exac

[2016-05-17 11:30] rkitover commented on #188
@lucc have you figured out why this doesn't work for you?

[2016-05-17 16:38] lucc commented on #188
Ok here is what I did:

* remove and rename `~/.config/nvim`, `~/.vim` and `~/.vimrc`
* remove possible factors: `pacman --remove python{,2}-neovim neovim neovim-symlinks vimpager-git`
* install vim: `pacman --sync vim`
* `export MANPAGER=$PWD/vimpager`
* `export POSIX_SHELL=/bin/sh`
* `man man` and `man urxvt-bell-command` work fine.
* with `export MANPAGER=$PWD/vimpager\ -x`, the last point is s

[2016-05-17 17:26] rkitover commented on #67
@jorgesca @lucc I fixed the 'q' thing, and also fixed the status line, see commit above.

[2016-05-17 18:15] lucc commented on #67
What we are actually interested in when checking the output of `:ls!`? Maybe we can use a vim function?

[2016-05-17 18:36] rkitover commented on #188
@lucc yup I just switched to neovim to debug #67 and I'm seeing this as well.

[2016-05-17 18:40] rkitover commented on #188
@lucc I see the problem, try this:

[code]

[2016-05-17 18:54] lucc commented on #188
That works, as does `man urxvt-bell-command | ./vimcat -c 'setf man'`.

[2016-05-17 18:56] rkitover commented on #188
@lucc that doesn't work for me with vim symlinked to neovim, but it does work with regular vim.

[2016-05-17 19:09] rkitover commented on #67
@lucc see `CloseBuffer()` in `macros/less.vim`.

[2016-05-17 19:11] lucc commented on #67
Yes but the regex was so annoying so I wanted to ask :)

[2016-05-17 22:20] rkitover commented on #188
@lucc try again please?

BTW where do you live?

If you want to hang out on irc, come to '#viml' on freenode. I'm Caelum there.

[2016-05-17 23:26] lucc commented on #188
Works!

I am having a look at freenode#viml. I'm .... wait for it .... lucc :)

[2016-05-17 23:26] #188 closed

[2016-05-18 18:42] rkitover commented on #67
@lucc ok I have arch with neovim-symlinks and dash, `man urxvt-bell-command` shows the page properly highlighted but then it hangs. Saw the same thing on ubuntu, will need to debug this.

[2016-05-18 22:26] rkitover commented on #67
@lucc I fixed the hang ^^

[2016-05-19 07:11] lucc commented on #67
I did never experience the hang on `wait $vim_pid`. All I do get is the hang I described above: https://github.com/rkitover/vimpager/issues/67#issuecomment-219260281.

[2016-05-19 22:24] rkitover commented on #67
@lucc but you said you don't get this hang anymore?

[2016-05-20 08:53] lucc commented on #67
I thought so too but it's still there. I think I made some mistake when I thought it was fixed (maybe I had `POSIX_SHELL=/bin/bash` in my env or something).

I will open a proper issue for that later and we can discuss and handle it there. So we don't hijack this thread any more than this. if I am very motivated I can also do some initial research and debugging before I post the issue (but that wo

[2016-05-28 20:31] rachidbch opened #192 "strange behaviour on gg"
Environment:
  - vimpager 2.06-263-g9ed2fe0
  - ubuntu 14.04 /zsh
  - vim 7.4
  - /usr/bin/vim is a symlink on /usr/bin/nvim

when i do
[code]
it mostly works as expected excpet that it doesn't correctly identify beginning of the file:
  - ':0' command goes to first line
  - 'gg' goes to somewhere in the middle of the file

Has a workaround how could i force vimpager to open vim instead of nvim ?

[2016-05-29 10:47] rkitover commented on #192
g is mapped to gg<SID>:L in less.vim, L is mapped to Lg0 plus a call to the status line function.

So what happens when you press just g, and what happens when you press L? How about Lg0?

I was going to implement a way to override which vim is used actually, but haven't done this yet.

[2016-05-29 11:17] rkitover commented on #192
Ok, so now you can set VIMPAGER_VIM to the vim binary you want to use with vimpager.

[2016-05-30 19:19] rachidbch commented on #192
Thanks a lot @rkitover,

VIMPAGER works (even if would have prefered to be able to specify the exact binary path to execute, but  that's another story).

I understand now that the 'g' mapping is due to less.vim .
But i still have this strange behaviour :
 - initially the cursor is on line 6, any down arrow key press put it in line 45
 - ':0' will put cursor in line 0 (and highlight this line) but

[2016-05-30 22:19] rkitover commented on #192
VIMPAGER_VIM can be set to the full path to the vim binary, if it's terminal vim. Are you using GUI vim? I need to fix it to use the full path to the GUI vim, but it should work for terminal vim (vim or nvim.)

You can disable less.vim by adding this to your .vimrc:
[code]

This behavior is probably due to one of the plugins you are using, and I could probably fix it if you are willing to help me

[2016-05-30 22:26] rkitover commented on #192
Ok, I fixed it so that if you set VIMPAGER_VIM to gvim or mvim it will also use the full path.

[2016-06-09 12:25] lucc commented on #180
When reviewing #193 it suddenly came to me that [`script`](http://linux.die.net/man/1/script) could be used to capture the help and version output at least. Like this:
[code]

[2016-06-17 02:28] rachidbch commented on #192
Sorry @rkitover,
I kind of missed your replay.
I'll test as soon as tomorry.
Thanks again for your amazing support :)

[2016-06-18 07:02] rkitover commented on #192
@rachidbch I would like to take a look at the underlying issue though, and see if I can possibly address it, so if you can provide your ~/.vimrc and ~/.vim (e.g. in a tarball shared on dropbox) then I can take a look. A list of the plugins you use would also work, as it's most likely an issue with a plugin.

[2016-06-18 16:05] rachidbch commented on #192
Hi,
Tested.

I have a very very strange behaviour with vimcat forever looping in the 'do_sleep' function ...
But I tested back on 4e195b57 and got same result. So obviously something haas changed in my config.
I'll come back to you when i'll have more time to investigate.
thanks a lot!

[2016-06-19 07:43] rkitover commented on #192
@rachidbch sorry I broke vimcat with my last commit, fixed now.

[2016-06-19 08:09] lucc commented on #192
@rkitover that's a perfect oportunity for me to remind you off #183 :)

[2016-06-23 17:45] rachidbch commented on #192
Cool. I'll test that ASAP

[2016-06-23 18:22] rkitover commented on #192
@rachidbch Sorry meant to get back to you but forgot.

vimcat in master is functional now on vim but hangs on neovim HEAD, will update this thread when I fix it.

Now, as for the behavior you were seeing, it turns out to be the normal behavior of less.vim. less.vim tries to keep the cursor at the bottom of the screen, minus scrolloff, which defaults to 5.

I made some tweaks to make vimpager work

[2016-06-24 08:22] rachidbch commented on #192
Hi @rkitover,

Tested last commit with 'export VIMPAGER_VIM=/usr/bin/vim' and have the same hanging behaviour.
Not sure if it's not something in my config  though as I can't make it work even with past commits that **used to work** past then.
However I've noticed no behaviour in neovim and vim: except for vimpager everything works just fine.
As for less.vim i'll get back to you when i can test ;)

[2016-06-24 21:40] rkitover commented on #192
@rachidbch So vimpager is hanging? Regardless of whether you use vim or nvim?

That's odd, especially considering that I tried your config and did not see this.

What if you run `:PluginUpdate` to update all your Vundle plugins, does the problem persist?

[2016-07-08 07:14] lucc opened #197 "vimrc specific hang with neovim+dash+man"
I have mentioned it some times before so here is the full report.

### system
I am on Arch Linux using neovim and dash from the repos. I don't have vim installed. The error happens no matter if I have `python{,2}-neovim` installed or not.

### config
[code]
### error
Now if I do `man man` I get this debug output (from the `-x` shell option)
[code]
and it hangs forever. If I press CTRL-C these addi

[2016-07-11 14:33] lucc commented on #180
As #196 is going to be merged soon (I hope :) I was looking for possibilities to test our vim code.

A general discussion on [stackoverflow](http://stackoverflow.com/questions/3029882/tools-for-testing-vim-plugins).

Here is what test suits and helpers I found so far, I will add more and some comments when I go on evaluating them:

* [vimrunner](https://github.com/AndrewRadev/vimrunner)
* [vim-ult

[2016-07-18 07:14] tdy commented on #131
Hi, just to double check - does this mean that the `g:loaded_surround` block isn't supposed to be needed anymore? I'm still getting delays from **d** and **^d** unless I add it to my rc. I'm using vim 7.4 and vimpager 2.06 on OS X.

[2016-07-19 10:09] lucc commented on #182
Part of this is done in #196.

[2016-09-02 10:11] kAworu opened #198 "zsh is not POSIX"
when inc/prologue.sh select zsh as `POSIX_SHELL`, vimpager will fail to create a temporary directory (in `find_tmp_directory`).

Example:
[code]
(also note that `quit`use the temporary directory even when creation failed).

Here is a simpler proof-of-concept of the issue: https://gist.github.com/kAworu/dad69ffa14c7c04786807f26b4a0175f

I prepared two patches to solve this issue, one removing zsh o

[2016-09-02 13:22] rkitover commented on #198
@kAworu I merged #199 with a couple of minor improvements here 0c12a06 .

Thank you!

[2016-09-03 16:43] kAworu commented on #198
@rkitover thanks !

[2016-09-03 16:43] #198 closed

[2016-09-11 05:35] bacondropped opened #201 "Incorrect shebang in configured vimcat/vimpager scripts"
I'm experiencing a strange issue running vimpager in Arch Linux (specifically Manjaro, but that shouldn't make any difference). I'm installing vimpager via [the AUR package](https://aur.archlinux.org/packages/vimpager-git/), and during a system update a couple of days ago, I updated that package as well. After that, vimcat and vimpager stopped working completely with the following error:
[code]

T

[2016-09-11 20:57] rkitover commented on #201
@bacondropped Hi, I tried to see if I can figure out what's going on on my Arch VM, but I can't reproduce this. A few questions:

* what is the output of /bin/sh --version

* where is `ash` coming from? There is no `ash` package in Arch, there is one in AUR but it's not a shell. The ash in Arch is called `dash`.

* what is the output of `which ash`

* does everything work if you change the `make`

[2016-09-12 05:21] bacondropped commented on #201
[code]
Yep, `sh` is symlinked to `bash` on Arch. `bash` behaves in a POSIX-compatible way in this case.

After a brief investigation, it's a symlink to `busybox`. I remember installing it a week ago for fun, guess it brought some stuff along. `whereis ash` returns `ash: /usr/bin/ash`, which is `/usr/bin/ash: symbolic link to /usr/bin/busybox`.

... huh. It does, thanks! Well, that was easy.

Anywa

[2016-09-12 08:13] rkitover commented on #201
@bacondropped it may be a bug, I will try with busybox shortly and let you know, I just didn't know how this happened. I'd like busybox to be properly supported as well.

[2016-09-12 09:07] rkitover commented on #201
@bacondropped Should be fixed ^^ please try master.

Also, did you actually run `busybox --install /usr/bin` ? That may not be a very good idea...

[2016-09-12 20:36] bacondropped commented on #201
Nice! Yep, I can confirm that current HEAD (d551042) fixes the shebang--it becomes `#!/usr/bin/ash` (the correct existing symlink) instead.

Well, yes, I wanted to see the full list of installed symlinks. While in hindsight that's not a good idea indeed, `busybox` does not seem to replace existing executables, and the ones it installs are [easily removable](https://gist.github.com/bacondropped/b5d

[2016-09-22 13:09] rightaway opened #202 "Copying includes the color codes too"
Doing a `yy` in vimpager copies not only the text but the color codes too. Such as

[code]

Here is my vimpager config
[code]

[2016-09-22 13:48] rkitover commented on #202
This is because in files with ANSI color codes, they are hidden and turned into vim highlighting with ansiesc.vim . See `:help conceal` etc..

What do you think the behavior should be? I can try to implement it within the limits of vimscript.

[2016-09-24 10:01] rightaway commented on #202
It would ideally copy just the text. For example if you do a `yy` in a regular vim document with syntax highlighting enabled, it copies just the text and doesn't include color codes for the syntax highlighting. Would be great if vimpager did the same.

[2016-09-24 19:28] rkitover commented on #202
It's not **just** syntax highlighting, in this particular case, the source document actually **includes** ANSI codes. For example, a normal git diff normally includes ANSI color codes.

If all you need is syntax highlighting for git diffs, you can turn off ansiesc with:

[code]

and then vim will use its normal syntax highlighting for diffs.

As for your idea about not copying ANSI codes in an ans

[2016-09-25 08:43] rightaway commented on #202
Thanks for the tip. If I turn off ansiesc, are there some colors I won't be seeing in my terminal? For example in commands like `man` or `ls -l | less`?

[2016-09-27 10:05] rkitover commented on #202
I will see if this is feasible and update this thread, vim's event system is very limited.

[2016-09-28 10:01] lucc commented on #202
If you want to do it the hard way you could remap all keys that yank text and clean up the yanked text. That doesn't fix `:yank` though. You would have to use an abbreviation for that. I suspect it is complicated, a lot of work and buggy in the end.

[2016-10-10 11:33] cmcaine opened #203 "vimpager uses wrong colorscheme when writing to stdout."
Using vimpager on a short file (one that can be written to stdout without paging), uses colorscheme elflord on my system.

Using vimpager on a longer file where paging does occur uses colorscheme default.

I don't have a .vimrc or .vim.

.config/nvim/init.vim specifies colorscheme default
.vimpagerrc is a single line "colorscheme default".
/usr/local/etc/vimpagerrc contains only comments.

vim is

[2016-10-10 11:40] cmcaine commented on #203
Updated OP with details about issue.

[2016-10-10 16:02] rkitover commented on #203
I can't tell at first glance what's going on. Short files are output with `vimcat`.

Can you try these two commands and tell me which colorscheme you get:

[code]

[2016-10-10 20:51] cmcaine commented on #203
colorscheme elflord for both.

'ag elflord ~/.*' only brings up commented out lines and command history stuff.

Similarly for /etc and /usr/share.

At the time I ran sudo make install, my init.vim set colorscheme elflord, but that seems unlikely to matter...

On 10 October 2016 17:02:36 BST, Rafael Kitover <notifications@github.com> wrote:

[2016-10-11 07:40] rkitover commented on #203
Ok, let's try this:

[code]

then look at `scriptnames.txt` and see if there is anything suspicious there, if not post it here.

[2016-10-11 19:42] rkitover commented on #203
And I forgot to mention, if you do or do not find it, please post back here, because I want to fix whatever it is that's causing vimcat to load different init files than vimpager, although I have some suspicions, may be related to system vimrc ( `vim --version` .)

[2016-10-12 11:33] cmcaine commented on #203
Tried `vimcat -c 'redir > ./scriptnames.txt | scriptnames | redir END' ~/.Xresources`, but vimcat just seems to hang at the prompt. scriptnames.txt is created, but empty.

If I try `VIMCAT_DEBUG=1 vimcat ~/.Xresources`, the screen is cleared and then seems to hang. Sending keyboard interrupt gets me to an empty vim buffer with the name of the file I wanted to cat.

vim --version:

[code]

system v

[2016-10-12 11:37] cmcaine commented on #203
After installing vim8, I tried `EDITOR=/usr/bin/vim vimcat -c 'redir > ./scriptnames.txt | scriptnames | redir END' ~/.Xresources`

That doesn't hang, but still gives me an empty scriptnames.txt.

[code]

[2016-10-12 12:17] cmcaine commented on #203
Looks like redir fails in slightly different ways for the vim and nvim.

Short version, command should be `-c 'redir! > ./scriptnames.txt | silent scriptnames | redir END'`

Long version, if scriptname.txt exists, vim and nvim will both silently fail to perform the redirection, but will output the text.

With nvim you need the ! to avoid an overwrite prompt and the silent to avoid a press ENTER pr

[2016-10-16 16:02] cmcaine commented on #203
Looking into this a bit more, (n)vim thinks background is set to light and colorscheme is set to default

[code]

But it's definitely giving me the colours for background=dark.

(--vim is an option I added to the vimcat script forcing it to use the vim I ask for. Results are the same with either vim)

[2016-10-17 14:23] rkitover commented on #203
@cmcaine I'm going to try to normalize the differences in startup between vimpager and vimcat and update this thread. Hopefully that may help.

vimcat sets bg=dark in startup (which should get overridden by your startup files but may not be,) can you check to make sure the scheme you are getting is definitely elflord and not default with bg=dark?

[2016-10-17 14:40] cmcaine commented on #203
I'm now sure that I'm actually getting colorscheme default with set bg=dark. I thought I'd said that earlier, but obviously not. Sorry.

I've tried setting bg=light in all my rc's, but no luck. I've also tried setting it with -c.

[2016-10-17 15:03] rkitover commented on #203
@cmcaine please try master.

[2016-10-17 15:10] cmcaine commented on #203
[code]

vimcat hangs for me if .vimcatrc exists or if a different rc is specified with -u.

[2016-10-17 15:22] rkitover commented on #203
@cmcaine sorry I made a typo, please try again!

[2016-10-17 15:46] cmcaine commented on #203
Now things work fine :)

After uninstalling vim8, vimcat and  vimpager are correctly finding and using init.vim as well.

[2016-10-17 15:48] cmcaine commented on #203
Actually, vimpager still isn't using init.vim, but at least it does actually respond to .vimpagerrc

[2016-10-17 20:14] rkitover commented on #203
@cmcaine such a stupid bug, and I spent two hours staring at it, please try master to fix the init.vim problem.

[2016-10-17 22:19] cmcaine commented on #203
vimpager now correctly reads init.vim, but it sets `background=dark` before it sources init.vim. Expected behaviour is that vim picks the default background value, for my terminal `set background&` gives `light`, but I think it can guess based on your fg and bg colour values in some terminals.

[2016-10-17 22:44] rkitover commented on #203
@cmcaine my experience has been that vim defaults to `bg=light` while most people use a dark background. Whether nvim or vim can derive this from terminfo in some circumstances, I don't know, but I haven't heard of this, it may be a new feature.

In any event, I will do a fix similar to the one I did for vimcat, where bg=dark is only set if the user has no rc file.

[2016-10-17 23:49] rkitover commented on #203
@cmcaine should be fixed.

[2016-10-18 00:30] cmcaine commented on #203
`:h bg` suggests that some amount of autodetection is going on, but I've only ever see it decide on light.

Sorry to report still more bugs, hopefully finding them is useful to you:

For some reason $MYVIMRC is not being defined properly when vimpager is run.

I have `source $MYVIMRC.local` in my init.vim, with normal runs of nvim it works fine, with vimpager I get:

[code]

[2016-10-18 01:46] cmcaine commented on #203
vimcat still seems to set bg=dark, but does read init.vim.local (where I set bg=light).

vimpager is hanging when editing some files, too.
See log: [vimpager.log.txt](https://github.com/rkitover/vimpager/files/535095/vimpager.log.txt)

[2016-10-18 01:48] rkitover commented on #203
@cmcaine I'm happy to fix bugs! I've actually not been very active with this repo for a few months because I'm moving to the other coast etc. etc.. And this is exactly the sort of stuff I need to iron out for the next release, which will hopefully be in Debian. The other major thing is streaming, I've started on this a while back and I have a plan, which I can hopefully implement soon. vimcat is a

[2016-10-18 01:55] rkitover commented on #203
@cmcaine actually, I can't reproduce the $MYVIMRC thing right now.

Did you update to latest master? There should not be a -u option being passed to vimcat for init.vim .

If not, please do so and test again.

[2016-10-18 02:20] cmcaine commented on #203
I thought I had, but `sudo make && sudo make install` fixed all three bugs :)

[2016-10-18 02:23] #203 closed

[2016-10-18 23:19] cmcaine commented on #203
As you wanted some more bugs, I found and fixed a couple in PRs #204 #205. Let me know what you think about my suggestions.

[2016-11-02 22:47] rightaway opened #206 "vimpager handling of huge files"
If I do `less` with a huge file, like an export csv of several GB, vimpager freezes the system. But if I use `/usr/bin/less`, it works fine. What can be done to improve vimpager's handling of huge files?

[2016-11-03 01:52] rkitover commented on #206
We tried to fix this, but it doesn't always work.

What it does is check the first 100 lines or so for ansi escape codes and other stuff that needs to be preprocessed, and if there is a match it has to process the file and copy the results into its /tmp dir.

If you can tell me how I can generate a file where this happens, I will try to fix it.

[2016-11-03 09:07] rightaway commented on #206
One options is maybe introduce a config option like maxSize, and if the file is bigger than this size, vimpager will defer to the default pager like `/usr/bin/less` on the system. So on my system if files over 50mb make vimpager freeze the system, I'd set this parameter to 50mb and then that file would open automatically in /usr/bin/less when I open that file in vimpager. If the file is less than

[2016-11-03 14:35] rkitover commented on #206
The thing that will definitely fix this is when I implement streaming, until I do that I will use some sort of file size workaround like you suggested and I was thinking of as well.

All it really has to do is check if the file is greater than X in size and not do any pre-processing.

Of course this will **not** fix files passed on STDIN, in those cases there is no solution until streaming is impl

[2016-11-04 00:38] rightaway commented on #206
Streaming sounds great!

In the meantime, these files https://archive.org/download/stackexchange could be used for testing (compressed dumps of stack exchange content).

[2017-02-08 10:14] chenhouwu opened #208 "mising file in brewed HEAD version"
[code]

[2017-02-08 12:01] lucc commented on #208
Can you reproduce this with the version downloaded directly from this repository? Otherwise it might be an issue with brew. (Which formula did you use?)

[2017-02-08 12:03] chenhouwu commented on #208
I just installed with
[code]

[2017-02-08 12:27] lucc commented on #208
Please find the formula and post either the file contents or an URL. I do not know which taps you have so your comment doesn't help.

Also what is in `/usr/local/Cellar/vimpager/{,HEAD-a7d18ce}`?

[2017-02-08 12:30] chenhouwu commented on #208
[code]

[2017-02-08 14:54] lucc commented on #208
Ok looking at https://github.com/Homebrew/homebrew-core/blob/master/Formula/vimpager.rb I can guess what the problem is: they install the vimpager script from the git repository directly (if building --HEAD) but they should use `make install` because it contains logic to prepare the script first.

You have to open a bug report with Homebrew/homebrew-core.

[2017-02-08 14:54] #208 closed

[2017-02-09 16:38] jvmCarneiro opened #209 "Example use of g:less.statusfunc"
I want to have an empty status line using `g:less.statusfunc`, and you mention in the README to check `autoload/vimpager_utils.vim` for an example of use, but I can't seem to find a practical example among its code.

If the example is meant to be the function sourcecode itself, after some analysis I've found out I'm quite clueless about vimscript and should really take some time learning it.

Woul

[2017-02-10 02:07] jvmCarneiro commented on #209
Turns out I actually interpreted the code correctly and was using correct syntax for my function in `.vimpagerrc`. It just wasn't updating at all the status line for some reason (which I assumed to be my inexperience with vimscript).

I managed to fix it by first installing the build dependencies (which I deemed unnecessary for me) and then removing vimpager from my local Arch repo and reinstallin

[2017-02-10 10:33] rkitover commented on #209
@jvmCarneiro

The arch package is probably a much older version.

I will add an example of using a custom statusfunc to the docs.

[2017-02-10 11:02] rkitover opened #210 "Should we tag a release?"
@lucc

So I originally planned to only do a release when I fully implement streaming for vimpager.

Unfortunately I ended up moving to another city and life has been very difficult (that's a huge understatement) and also got involved in some other things because this repo has been quiet.

So perhaps we should do a push to make a new minor release, fix at least #206 and clear the PR backlog, what d

[2017-02-10 14:34] lucc commented on #210
release: yes
backlog: I will rebase #196 now (that's a "as much as you want")
#206: If we find a way to do it that doesn't take to long/much work (like until now ;)

[2017-02-10 19:30] assistcontrol commented on #210
I've been looking forward to updating the FreeBSD port! I definitely encourage you to cut a release.

[2017-02-11 00:01] lucc commented on #210
We could also release several small releases and not wait any longer until doing 2.07 (and mybe call it 2.7) and then just do the stuff you mentioned quicly none the less and release it as 2.8, 2.9, 2.10, ...

(What is wrong with having many small releases?)

[2017-02-13 14:54] #75 closed

[2017-02-14 14:49] rkitover commented on #210
@lucc yeah, what can I say, I had grandiose plans that didn't quite work out.

Nothing quite special in a number, 2.7 is fine, and then we can do 3.0 when streaming is done and tested.

[2017-02-14 19:38] lucc commented on #210
Ok, so what is the minimal work needed for releasing 2.7? Just the tag?

Also: I rebased my open PRs and fixed the tests.

[2017-02-18 13:33] rkitover commented on #210
@lucc ok so, I'm just wrapping up the last bug for another project I'm looking at:

https://github.com/visualboyadvance-m/visualboyadvance-m/pull/72

I should be done with this either today or over 2-3 days or so.

Then I'll give vimpager most of my attention for a few weeks so we can get a release out and plan to finish streaming support so that a fully functioning version can be released.

[2017-02-18 13:58] lucc commented on #210
I remember you did maintain a fork of the AnsiEsc plugin and we have some changes in here as well. Did you ever try to commit these changes upstream?

[2017-02-18 14:07] rkitover commented on #210
@lucc oh yes, I did quite a lot of work on that. This is the upstream for all intents and purposes:

https://github.com/powerman/vim-plugin-AnsiEsc

it's probably a few commits ahead of our copy and we should update our copy.

I promised to do more work on it too, unfortunately haven't gotten around to it.

[2017-02-18 16:41] 1-61803 opened #212 "vimpager's cursor stuck in 6th to last line"
I tested this with v2.06 in Apple's provided `vim` 7.3 with no plugins in vanilla OS X and also in my main system with `vim` 8 from MacPorts. I can scroll and search the text, but the cursor remains stuck in the 6th to last line — I also can go to the last line — and in both lines I can move left and right, but not upwards and downwards. Only when I  leave `Less Mode` I can freely move the cursor

[2017-02-19 08:58] lucc commented on #210
Ok, but in my opinion upstream is http://www.drchip.org/astronaut/vim/index.html#ANSIESC .

[2017-02-19 09:00] lucc commented on #212
That is intended, as vimpager tries to be a pager. That means text is displayed in pages. There is also no cursor in other pagers like less or more.

[2017-02-19 14:55] 1-61803 commented on #212
Since paging makes the cursor flicker, which I think is most noticeable depending on the contrast of the colors selected for cursor and background — can I disable the cursor or change its color (to be the same as the background)?

[2017-02-19 16:40] lucc commented on #212
In vim you can use `set t_ve=`. (Doesn't work in neovim for me.)

[2017-02-19 19:10] 1-61803 commented on #212
How can I set disable the cursor *only* in `Less Mode`?

[2017-02-19 20:35] rkitover commented on #210
I believe @powerman is in contact with DrChip for the purposes of sending patches, but I don't know for sure.

[2017-02-19 20:42] rkitover commented on #212
Please install master, it's light years ahead of 2.06. It's my fault we haven't done any releases since then but that will be fixed soon.

If you want to move the cursor freely, you can toggle less mode with `,v`.

If you want to run code when vimpager is active, you can do something like this in your .vimrc `:`

[code]

as for having a hook when less mode is active, I have not implemented that ye

[2017-02-20 13:01] 1-61803 commented on #212
I cloned the repo and I am on master already, sorry for the confusion.

I thought something like this to toggle the cursor visibility would work, but it doesn't.
[code]

[2017-02-20 20:59] rkitover commented on #212
@1-61803 Put this in your ~/.vimrc `:`

[code]

This will work more or less until I add something to support this.

[2017-02-21 11:31] 1-61803 commented on #212
Ok, that works, except for the position of the cursor — depending on whether you change between modes with/without moving/scrolling, it's not always consistent, showing sometimes between 5th-8th line from top/bottom. Could you make it always restore to the center of the screen as a trade-off?

[2017-02-21 12:27] rkitover commented on #212
@1-61803

Try adjusting your scrolloff setting, e.g. to disable scrolloff:

[code]

that will make the cursor move like it does in vim normally, or you could try setting it to e.g. `15` or whatever.

[2017-02-22 10:14] 1-61803 commented on #212
`scrolloff` doesn't work as expected, it hasn't changed the behaviour above.

Furthermore, I now noticed, although I haven't made any other changes to my `~/.vimrc`, that, when saving it, the functions output these errors
[code]

[2017-02-22 13:18] rkitover commented on #212
@1-61803 does setting `g:vimpager.scrolloff` do anything at all? If not, you are not setting it correctly.

I updated the code above to fix that problem.

[2017-02-22 14:42] 1-61803 commented on #212
`:set so=999` centers the cursor
`:set so=0` resets `scrolloff`
`:set g:vimpager.scrolloff=999` gives `E518: Unknown option: g:vimpager.scrolloff=999`

I thought something like `execute "normal! M"` at the end of `RestoreCursor` would work, but it doesn't, in the function at least.

[2017-02-22 21:31] rkitover commented on #212
@1-61803 that is a variable and not a vim option, somewhere at the top of your `~/.vimrc` you have to do something like this:

[code]

or in one line:

[code]

[2017-02-22 23:22] 1-61803 commented on #212
I tried the one-liner but it didn't change the position. Anyway, I don't want the cursor to *remain* in the middle of the screen when `Less Mode` is disabled, I only want to *go* there, that's why I tried `execute "normal! M"` at the end of `RestoreCursor`, but that didn't work either. The joy of `vimscript` I guess.

[2017-02-22 23:31] rkitover commented on #212
@1-61803 it's actually `g:less.scrolloff' and **NOT** `g:vimpager.scrolloff`, I should read my own docs. Sorry I haven't worked on this stuff in a while.

Anyway, I modified the code above to disable scrolloff and do a `normal! M` when less mode is disabled.

[2017-02-23 07:41] 1-61803 commented on #212
That works fine, thanks. If you implement it in the plugin and need someone to test it, just post in this issue and I'll give it a shot.

[2017-02-23 09:11] 1-61803 commented on #212
I've been using it a bit and found out that from `Less Mode` I can disable it with just `v` (`,v` works also) and that I can change to `Insert Mode` with `i` and `a` or to `Visual Mode` if I select text (I have `mouse` enabled), where I don't have a cursor anymore. How can you make it only change to full `vim` mode with `,v`?

[2017-02-24 09:54] MindTooth commented on #208
https://github.com/MindTooth/homebrew-core/commit/a0f99158c8e2748b44cdae755f8f6789a32642eb

I plan on ship this fix.  Works with 2.06, but with HEAD I get:
[code]

Ideas?  Sorry for the dead bump.

[2017-02-24 10:42] lucc commented on #208
@MindTooth Please check if your vimpager repository is up to date and try to run the command you use to get this error (`vimpager --what?`) from the git repository and not the installed version. The line number and error message you give don't fit the code I see at 83c0e0a11db00b9c60b771ae38400ad5ce56c1b1.

[2017-02-24 11:04] MindTooth commented on #208
Something to look at: https://gist.github.com/MindTooth/51c165d98968c7f37865f2ba9c7932b9

It's up to date from `master`.

[2017-02-24 11:35] lucc commented on #208
CNR.

Again: Can you reproduce this if you run vimpager from git? This is interesting because we need to know if this is related to homebrew or not.
Where does the `-f` actually come from? I can not find it in the code. Try to run vimpager like this `bash -x ./vimpager the-file`.

[2017-02-24 12:22] MindTooth commented on #208
Still the same: https://gist.github.com/MindTooth/51c165d98968c7f37865f2ba9c7932b9#file-new_error-log

[2017-02-24 15:30] lucc commented on #208
That doesn't help yet, sorry I forgot what a mess it is to debug the vimpager shell script. I think `./vimpager -x file` is the thing. (Please check if the log is interesting -- reaches the relevant line -- otherwise we might need to `export POSIX_SHELL=bash` first).

[2017-02-24 15:46] MindTooth commented on #208
Tried the new command, also setting the POSIX_SHELL in the forth attempt.

https://gist.github.com/MindTooth/51c165d98968c7f37865f2ba9c7932b9

[2017-02-24 16:02] lucc commented on #208
You seem to have `EDITOR='vim -f'` in your environment. Does it work correctly if you call `EDITOR=vim ./vimpager file` or `EDITOR=vim /usr(local/bin/vimpager file`?

If that was the reason you will have to open your own feature request to ask for `$EDITOR` to be split on spaces.

(Aside: Why do you set it to `vim -f`, isn't -f a foreground option for the gui only?)

[2017-02-24 16:10] MindTooth commented on #208
Magic 👍

I'll submit the patch, so it works for others as well ;-)

(Aside: The stuff you pull willy-nilly from the net.  Good experience for me the take my own shit into consideration later.  Thank you for making me aware!)

[2017-03-01 13:19] achilleas-k commented on #11
I used @pvaibhav's suggestion for a while and noticed that this disabled all colours, even the ones where the pager isn't used (e.g., `git status`). Instead, I found that setting `git config --global color.pager false` has a much nicer effect. It lets vimpager handle colouring when it's used but keeps (red, green) colours for status, pull, etc.

[2017-03-18 14:39] 1-61803 commented on #212
I tried remapping `Insert` to no avail. In `HideCursorInLessMode()` I use `map i <Nop>` and it works, but getting `i` back in  `RestoreCursor()` doesn't. I tried `unmap i`, `map clear` and `map <Insert> i`. Any ideas?

[2017-04-08 13:23] wlisrausr commented on #11
I have a custom color format with `--pretty` option on `git hist` alias config (very similar to @dstanek). But, I got an annoying problem with it.

When I start to scrolling down and up the page (with holding `j` & `k` buttons), I got some delays in the process. In another words, I got a very slow vimpager scrolling feature when I use `git hist` command. This is only happen when I used custom colo

[2017-04-08 14:27] rkitover commented on #11
@wlisrausr if you share your custom git format, I may be able to see if there are things in AnsiEsc that are causing the performance issues.

[2017-04-08 14:36] wlisrausr commented on #11
Sure thing @rkitover, here it is.

`hist = log --graph --full-history --all --pretty=format:'%C(red)%h%Creset » %C(green)%ad%Creset %s%C(green)%d%Creset %C(yellow)%an %C(yellow)<%ae>%Creset' --abbrev-commit --date=short`

[2017-07-22 21:45] dylnmc opened #214 "allow key remapping"
I don't want `q` to quit. I have reconfigured vimpager with ~/.vimpagerrc as follows:

[code]

As you can see, I just want to use vim. I know you can `vim <(foobar)` but I couldn't figure out how to do a few things and vimpager solved them for me.

However, I can't remap `q` to the normal behavior. The problem is man.vim.

Let's say, for example, I want to open up a man page, record a macro that d

[2017-07-22 23:36] rkitover commented on #214
Have you tried:

[code]

[2017-07-23 01:14] dylnmc commented on #214
yes. It still quits when I press <kbd>q</kbd>

Also, this behavior persists when merely filetype is set to `man`.

Please see [end of this SO post](https://unix.stackexchange.com/a/381182/85118).

[2017-07-23 07:09] dylnmc commented on #214
I fixed it with some help! Here is my .vimpagerrc:

[code]

See [why](https://github.com/vim/vim/blob/master/runtime/ftplugin/man.vim#L36). I also submitted an [issue for vim](https://github.com/vim/vim/issues/1862#issuecomment-317231817)

Also, I ended up solving what it was I was trying to accomplish, and now I have this in my zshrc/bashrc:

[code]

[2017-07-23 07:09] #214 closed

[2017-07-24 00:58] rkitover commented on #214
@dylnmc FWIW I now set this variable in vimpager initialization in master in 6b85e5c .

Thanks for reporting this and providing the solution.

[2017-07-24 15:57] dylnmc commented on #214
No problem! Thank **you**!

[2017-08-07 10:42] Rahtgaz opened #215 "Colors bleed whem using `systemctl list-unit-files`"
The systemd command `systemctl list-unit-files` causes colors to bleed to the next lines. This does not happen when using less.

[2017-08-07 19:25] rkitover commented on #215
AnsiEsc issue, will take a look.

[2017-08-11 00:18] VVelox commented on #210
Unless there is something broken, tagging a release would be great.

[2017-08-11 11:28] Rahtgaz commented on #215
Currently, best workaround is to override the default pager for systemd tools:

[code]

[2017-08-13 11:28] tempfoo42 opened #216 "vimpager fails to run vimcat when /tmp is mounted with noexec"
[code]

[2017-08-13 21:05] lucc commented on #216
I assume you use the bundled version (`vimpager -v`). It tries to extract the vimcat script to /tmp on every run and runs it from there. You could try the installed version or run vimpager form git.

[2017-08-14 08:13] tempfoo42 commented on #216
[code]

I use the version from ArchLinux's repos. The package actually contains /usr/bin/vimcat, so changing ./vimcat to vimcat works, but I'd prefer not to modify the package. Changing
`tmp="/tmp"`
to
`tmp="${TMPDIR:-/tmp}"`
would help -- 'TMPDIR="/dev/shm" vimpager' would work, but there's probably a better solution.

[2017-08-14 11:19] tempfoo42 commented on #216
The version from AUR works fine with some changes.

https://aur.archlinux.org/packages/vimpager-git

[code]

[2017-08-14 11:19] #216 closed

[2017-08-14 16:44] lucc commented on #216
I don't know what $SHELL is set to when makepkg is run. But just to be save you should only do POSIX_SHELL=$SHELL if $SHELL is posix compatible. As makepkg depends an bash and Arch in general assumes that you have it installed you should rather do POSIX_SHELL=/bin/bash.

[2017-08-19 14:13] Vampire commented on #11
@rkitover is replacing tabs by an arbitrary amount of spaces really the best solution? This defamiliarizes the displayed content, doesn't it? Tabs could be mixed with spaces with an arbitrary tab with width setting. So whatever tab width you choose it might be wrong and it is better when the user can change the tab width for the currently displayed content. This is not possible if you replaced the

[2017-08-19 15:02] Vampire commented on #11
@rkitover hm, and I just tried the latest version now, it displays colors, whohoo, but I get the following:

[code]

The input only has 386 lines

[2017-08-19 23:09] rkitover commented on #11
@Vampire you have the old AnsiEsc plugin somewhere in your plugin dir, try removing it, vimpager ships with our fork which should work with anything else that needs the plugin.

About the tabs thing, I can't really do anything else right now because conceal mode in vim is broken with tabs. I just did what was possible so that e.g. `git diff` looks correct.

[2017-08-20 05:57] HaleTom opened #217 "Convert overstrikes into highlight region"
I have `less` setup to interpret various control codes to display man pages in colour.

[![Coloured man page example ][1]][1]

This is achieved by [setting certain colours for the underline, blink and bold commands](https://unix.stackexchange.com/a/329092/143394).

I'm still using `less` for manual page reading as I can't find a `vim` plugin which doesn't remove this syntax highlighting.

Instead

[2017-08-20 07:14] HaleTom opened #218 "Version of AnsiEsc"
Can you please state which version of AnsiEsc you are using?

I note the current is [`Updated Feb 18, 2017 (v13l)`](http://www.drchip.org/astronaut/vim/index.html#ANSIESC)

[2017-08-20 07:15] HaleTom commented on #218
Ah, it [appears](https://github.com/rkitover/vimpager/blob/d551042468696c5ff0c5b5ffecd2cd02e55354fd/autoload/AnsiEsc.vim#L18) the current version is `13i`. Would you consider an upgrade?

[2017-08-20 09:46] kosztadani opened #219 "install-deb doesn't work on non-English locales"
The Makefile contains lines like this:
[code]

Unfortunately, depending on locale, the 'yes' answer may require a different character (not `y`). In this case, the installer silently doesn't install the package.

As a workaround, I used `LANG=C sudo make install-deb`.

[2017-08-20 15:13] rkitover commented on #218
This is my upstream and I work the maintainer of that repo:

https://github.com/powerman/vim-plugin-AnsiEsc

[2017-08-20 15:43] rkitover commented on #219
Should be "fixed" in master, I tried with:

[code]

Thanks for reporting this!

[2017-08-27 21:24] lucc opened #220 "travis only has trusty machines"
@rkitover your latest `dist:` changes are useless. See the [official docs](https://docs.travis-ci.com/user/reference/overview/) and [the logs of the build (line 16+)](https://travis-ci.org/rkitover/vimpager/builds/266614858).

[2017-08-27 22:19] rkitover commented on #220
Thanks, I saw that soon after I tried to change the dist, I'm either going to make the lintian script work on trusty or use docker for travis, haven't gotten around to doing it yet.

[2017-08-29 01:28] rkitover commented on #220
@lucc switched to Docker, all good now!

[2017-09-11 08:17] rightaway commented on #210
Would a new release be possible at this time? I'm installing it from AUR on Archlinux https://aur.archlinux.org/packages/vimpager-git/ but it's using the latest release which git says is 344 commits behind master. Getting to use a more recent version would be great :)

[2017-09-11 08:22] rightaway opened #221 "incompatibility with vim-plug"
I'm getting an error when I'm using vimpager through commands such as `man vim` or `less ~/.vimrc`. I think it started happening when I switched to using NeoVim.

When I run those commands, I see this error message on the terminal

[code]

When I press Enter then man/less do open but the functionality is somewhat broken (for example I can't use `/` to search as in vim, nothing happens in pager mod

[2017-09-13 16:39] fweep commented on #176
Right now in e.g. vimcat, there's a check to see if `vim` is in the path, and if it is, use it. It only checks for `nvim` if the `vim` check fails. This assumes that you want to use Vim, that it's configured properly, etc. If you primarily use Neovim, it's likely that your syntax/plugins/etc. won't be up to date.

tl;dr: Please check `$EDITOR` or one of the other env vars proposed above; just beca

[2017-10-04 02:13] braham-snyder opened #222 "vimpager and vimcat freeze, no output (OS X, homebrew)"
On OS X El Capitan, with homebrew `vim`, using `vimpager` also installed through homebrew, with and without `--HEAD`, from `bash`, in both Terminal.app and iTerm2:

[code]

At which point output stops, and all keys I press are simply appended to the output. Well, other than `^Z` or `^\` -- the latter of which then shows (probably unremarkably):
[code]

And same for `vimcat`, with this debugging ou

[2017-10-16 15:53] #220 closed

[2017-10-26 09:51] SteveJobzniak commented on #222
I was experimenting with colorizing programs and found this, and felt really sorry for you. So I'll help you out.

1. Vim actually already has a built-in "vimpager" script, called `less.sh`. It's installed in a "macros" folder somewhere on your system. Find it with `sudo find -x / -name less.sh`. Although it isn't very good...

2. Either way, the best pager is not vim. Not by a long shot. Vim is s

[2017-10-26 17:15] braham-snyder commented on #222
I appreciate the thought, but I'm painfully aware of `less`, and I'm only incidentally interested in `vimcat`'s behavior.

I'm looking for something more powerful. More precisely: I want to be able to search and select text in my pager as well as I can in emacs or vim (so -- ideally -- I'd like access to `easymotion`, `sneak`/`snipe`, `swiper`, `evil-little-word`, etc.).

Meanwhile, `less` can't e

[2017-10-26 17:47] SteveJobzniak commented on #222
Haha, alright good luck with everything! :-) By the way, you _can_ search incrementally forwards and backwards in less: `/word`, `n` `n` `n` `shift-N`, `shift-N`.

And with my tweaks you get word-highlighting etc. Works perfectly for my needs. But you've got other needs and vimpager seems more up your alley. Good luck.

[2017-10-26 17:51] braham-snyder commented on #222
Thank you!

I mean a different kind of incremental search (it's unfortunately quite ambiguously named -- I might start calling it "real-time search" or "as-you-type-matching" or "incrementally-updated search" or something): https://en.wikipedia.org/wiki/Incremental_search

[2017-10-26 17:52] SteveJobzniak commented on #222
Ohh that kind of search. Sure that's nice. :)

[2017-10-26 19:15] pdellaert commented on #11
@Vampire, I had to actually install the latest version of AnsiEsc from the creator in my `~/.vim` folder to avoid that error, you can find it here: http://www.drchip.org/astronaut/vim/#ANSIESC

[2017-10-27 13:53] SteveJobzniak commented on #222
Hmm just as a warning to you:

Remember the `vimcat` command I described taking 2 minutes, and which I hit `Ctrl-C` to abort, which froze vim and required me to kill that process manually?

Uhm... that failed process has somehow been running since yesterday and is taking 60% CPU:

![x](https://user-images.githubusercontent.com/22373193/32107436-d8e95c2c-bb2e-11e7-8016-43d0012c7a51.png)

I know it'

[2017-11-14 16:48] hansgans commented on #197
I have to same problem here. It seems to be related to ``zsh``, using ``bash`` everything is fine. From ``vimpager -x file`` I get:
[code]
Here, it hangs forever.
[code]

Any ideas?

[2017-11-17 00:37] rightaway opened #224 "Release new version"
The version tagged `latest release` is 2.06 which was released in 2015 and has over 300 commits to master since that time. Would it be possible to tag the latest master as `latest release` so that people who are getting vimpager from packaged versions (like archlinux official repos) can get the latest improvements?

[2017-11-21 18:48] mox-mox opened #225 "Vimpager without the key bindings"
Hi,

is there some simple way of having vimpager not map or unmap any key bindings? And to not have the nomodifiable status set?
I would like to have all the cool features (links in man pages, proper highlighting, etc) but also keep my normal bindings, cursorline, customized statusline, plugins, etc*..

Some years ago, I set up my vimpager and eventually commented out all the bindings and I loved

[2017-11-22 11:55] wimstefan commented on #222
Did you ever find a solution for your problem? I'm running against the same wall at the moment ;-)

[2017-11-22 20:59] braham-snyder commented on #222
Regarding the `vimpager` freeze? Nope, but I haven't toyed with it further.
<br />
Or `$PAGER` more generally? I decided to settle -- for now at least -- with `tmux`'s `set-window-option -g mode-keys vi` + `set -g status-keys emacs` (the `vi` `status-keys` are quite odd) + some minor modifications to make it slightly more vim-like (since, e.g., for some reason `tmux` only defaults the `emacs`-styl

[2017-11-22 22:27] lucc commented on #222
@braham-snyder that issue is about the "internal pager" of (n)vim that is used for long output from vim commands (see `:h more-prompt`).

[2017-11-24 20:58] rkitover commented on #225
Have you tried:

[code]

[2017-11-24 20:59] rkitover commented on #222
I'm sorry, I haven't worked on this repo in a while because of various things in life, and am currently deeply engrossed in another project.

I'll try to take a break from the other project soon and take a look at stuff here.

[2017-11-24 21:02] rkitover commented on #221
Seems like something to do with plugin search paths.

If you can tar up your `~/.vim` or `~/.config/nvim` and put it on dropbox or something that would be the easiest way for me to find the issue.

[2017-11-25 01:07] SteveJobzniak commented on #222
@rkitover Relax and have fun with the other project. ;-) You're not under any obligation to do this. Have fun and come back when you feel like it.

[2017-11-25 01:41] wimstefan commented on #222
@rkitover Take your time! My question was more out of curiosity since the error I'm getting is not exactly the same as described here and I was in doubt whether to create a separate issue or not ... no real life has caught me again and I'll have to see when I can dive into it a bit more ;-)
@braham-snyder thanks for your quick response! I'll see how I can tackle the problem ...

[2017-11-25 03:17] rightaway commented on #221
I can duplicate it even with a minimal `~/.config/nvim/init.vim`.

[code]

`~/.config/nvim/plugged` contains only `NeoSolarized`.

[2017-11-25 11:26] rkitover commented on #221
I fixed this in vim, which was exhibiting the same issue with vim-plug, neovim is freezing for me right now which I think is another issue.

[2017-11-25 13:10] rightaway commented on #221
Thanks, would you be able to release a new stable version? (https://github.com/rkitover/vimpager/issues/224)

[2017-11-25 13:59] rkitover commented on #221
I suppose I really have to at this point. My original plan like around 2 years ago was to implement streaming for large files in vim for vimpager (vimcat already does this) before releasing a new stable version. Even if I don't do this, I need to fix a few minor outstanding issues and clean a few things up.

So anyway, I'll try to get started in the next few days.

[2017-11-28 19:55] nmschulte opened #226 "Comparison with Vim's supplied `less.sh` script"
How does this compare to the supplied `less.sh` script, from Vim?

[2017-11-29 02:01] rkitover commented on #226
I haven't looked recently, but the less.vim and the vimpager wrapper script are far more advanced, at least when I compared with stock versions a few months ago.

[2017-11-30 14:33] mox-mox opened #227 "--smart/-S has been removed. Use +smart or -smart extension instead."
When 'make'ing vimpager, I get the following error:
[code]
The patch I attached will fix this issue.

Best regards,
mox

[patch.zip](https://github.com/rkitover/vimpager/files/1518160/patch.zip)

[2017-11-30 14:41] mox-mox commented on #225
Ok, I tried to, but #221 has more or less prevented any experimentation. I'll try if I can cook up a solution for this, then I'll try again.

[2017-11-30 17:48] rkitover commented on #225
Are you sure that is the right issue? I fixed that in master.

[2017-11-30 19:23] mox-mox commented on #225
Well, I got the same error messages. But after a fresh pull, the problem was gone.
[code]
Works nicely. And I feel stupid. After writing my comment I found the same command in the readme. Sorry for wasting your time on that question.

[2017-11-30 19:23] #225 closed

[2017-11-30 22:22] mox-mox commented on #227
I oversaw, there is another occurrence of the -S option just a few lines above. That should probably be fixed the same way.

[2017-12-04 13:37] wimstefan commented on #222
@rkitover Sorry for reporting so late due to real life capture but my issue was fixed with 2.06-347-gf03db2e ... many thanks for that! 👏

[2017-12-12 22:42] #226 closed

[2018-01-03 22:17] ababaian commented on #206
@rkitover I'm pretty keen to see/implement streaming for big files. In biology we often have to `less` multi-gigabyte files and I've been working on [syntax-highlighting](http://bioSyntax.org) in less/vim for these files. The software the less implementation is based off of is a bit tricky to install so having vimpager work on a stream would be greatly beneficial.

TLDR; What's the status of getti

[2018-01-23 08:06] chyzwar commented on #127
I will close this issue.

[2018-01-23 08:06] #127 closed

[2018-03-01 15:07] 1-61803 opened #230 "disabling all mode changes"
I use `vimpager` with a [script](https://github.com/rkitover/vimpager/issues/212#issuecomment-281179950) (see subsequent comments there) to change between pager and full `vim` mode.

But accidentally pressing `i`, `a`, etc changes the mode while paging, which I want to prevent from happening.

I tried `map i <Nop>` and it works, but then I cannot restore the original behaviour, when switching back

[2018-03-01 18:27] rkitover commented on #230
I'll see if I can do something like that!

[2018-03-02 20:23] carlwgeorge commented on #218
How difficult would it be for a distro packager to unbundle AnsiEsc and package it separately?

[2018-03-03 10:15] rkitover commented on #218
Very simple, it's loaded like a normal vim plugin, if the bundled one isn't there it will load whatever is in the plugin path.

[2018-05-27 15:12] achilleas-k opened #231 "Leftover 'cat' process after vimcat"
It took me a while to narrow this down and I haven't figured it out completely yet, but *sometimes* the last `cat` in the subshell with the loop is not killed and does not exit after the vimcat process is complete.

I'm referring to the following line:
https://github.com/rkitover/vimpager/blob/fdc74aab4a10a9a0ad994db15fe80f25b3df4740/vimcat#L305

It appears the subshell is properly killed at the e

[2018-05-27 15:14] achilleas-k opened #232 "vimcatrc in ~/.vim/"
I like to keep my vim configuration in `$HOME/.vim` and while vimpager does look for its rc file at `$HOME/.vim/vimpagerrc`, vimcat doesn't. Since they're both part of the same project and they follow vim conventions, it would be nice if vimcat also read `$HOME/.vim/vimcatrc`.

[2018-05-28 22:48] #231 closed

[2018-06-11 21:26] carlwgeorge opened #234 "ignoring viminfo configuration"
I have `set viminfo+=n~/.cache/vim/viminfo` in my `/etc/vimrc`.  The goal is to write the viminfo file under `~/.cache/vim` instead of directly in `~`.  This works fine for vim, but vimpager ignores this setting and creates `~/.viminfo` every time it is run.

[2018-06-12 17:44] rkitover commented on #234
I'm actually disabling viminfo, but perhaps not early enough, I'll take a look at this.

[2018-06-27 14:53] fictionic opened #235 "unmap vimpager-provided mappings in .vimpagerrc?"
On the Arch Linux package, this works fine. However, if I install from git, it seems that my `.vimpagerrc` is sourced *before* vimpager sets up its mappings, so I can't unmap them until after vim loads. This is quite frustrating, as I want to keep all of the `less.vim` functionality, but unmap `/` and a few other things.

[2018-06-27 20:53] rkitover commented on #235
The mappings are set when you enter the file in my version of less.vim.

I will need to add a hook that would be called after the mappings are enabled.

[2018-06-28 15:06] fictionic commented on #235
Do you know why this doesn't happen in the Arch Linux package?

[2018-06-28 15:42] rkitover commented on #235
Probably because it's very old, I haven't done a formal release in a really long time.

[2018-06-30 10:36] rkitover commented on #235
I have nothing to do with distro packages, I really need to do a release soon, which is when distro packagers normally pick up an update, and I will make sure this capability is in it.

[2018-06-30 16:07] fictionic commented on #235
Thank you!

[2018-07-10 22:50] Nebuchadrezzar commented on #224
If you're using homebrew, reinstall vimpager with the --HEAD option.

[2018-07-24 22:34] windware opened #236 "Include .deb file in releases"
Can you consider adding .deb files that gets built by 'build-deb' command in the release page, so that it can be easily installed from various machines?

[2018-07-24 23:12] windware opened #237 "Bug report : vimpager freezes when specifying a directory"
OS : Ubuntu 18.04 64bit
Shell : /bin/bash
Vim : Vi IMproved 8.0 (2016 Sep 12, compiled Apr 10 2018 21:31:58) (Installed via 'vim-nox' package.)
.vimrc : None
.vimpagerrc : None
Cloned : 8cbddd1

I installed it with `sudo make install-deb` and when I run `vimpager .` and specify some directory (which I shouldn't but it can happen accidentally), vimpager freezes and had to be killed with SIGKILL.

T

[2018-07-31 06:16] rkitover commented on #237
Fixed in master, thank you for the report.

[2018-08-07 21:11] fictionic opened #238 "There should be cmdline options `--passthrough` and `--no-passthrough` to override `g:vimpager.passthrough` per-instance"
Example use case: I want to loop through some git commits, and run `git show` on each. If a commit is small enough, it will passthrough; but I don't want that, since I want to be able to pause on each iteration of the loop. I could wait for user input in the shell loop, but that creates an extra pause for commits that don't passthrough.

[2018-08-07 23:14] rkitover commented on #238
Implemented in master.

[2018-08-08 16:26] fictionic commented on #238
WOW. I have no words to describe how incredible it was to see this notification, and so quickly. Thank you!

Small typo: the --help text has the options prefaced with three hyphens instead of two (`---passthrough`), and the man page has them with one (`-passthrough`).

But wow. Thank you.

[2018-08-08 20:28] rkitover commented on #238
No problem, I thought it would be fairly simple to do.

[2018-08-08 20:28] #238 closed

[2018-08-29 15:00] arkban commented on #174
Are there any plans to release a new version of vimpager with this fix?

[2018-08-29 15:24] rkitover commented on #174
I'm sorry, I'm not going to put this off anymore, I will have a new release within the next 3 weeks. For now please use the git version.

[2018-09-20 14:43] BonaBeavis opened #239 "vimcat is much slower than vanilla nvim"
Open a file in vim takes less than a second, using vimcat in a terminal takes about 9s to "scroll" to the end of the file. But `vimcat .vimrc >> test` is fast again.

This is a problem, because I would like to use vimcat as a previewer for ranger.
Ranger calls vimcat like this:
[code]
Does anyone has an idea?

[2018-10-03 06:48] mortang2410 opened #240 "AnsiEsc bottleneck on large files"
Try running `journalctl `  with  `let g:vimpager.ansiesc = 0` and without it (assuming you're using `systemd`). Or view any really big text file.
vim would choke and wait until AnsiEsc finishes.  While vim alone is fast enough to read through, like, 1521561 lines of text in a few seconds.

This might seem like a stretch goal, and this scenario isn't always common, but maybe AnsiEsc should be turne

[2018-10-04 07:15] rkitover commented on #240
What you suggest is a simple enough fix, I'll try to do it shortly.

[2018-10-04 09:17] rkitover commented on #240
Fixed in master, see above commit.

[2018-10-04 09:46] rkitover commented on #240
I chose 1250 lines for the cutoff because it's roughly 3 seconds on modern hardware.

[2018-12-16 15:17] Nobelheaven opened #242 "Permission deny!"
![deepinscreenshot_select-area_20181216231349](https://user-images.githubusercontent.com/33632101/50055339-84667d00-0188-11e9-8fbc-22c154432e7c.png)
Here is my zshrc:
![deepinscreenshot_select-area_20181216231628](https://user-images.githubusercontent.com/33632101/50055357-b546b200-0188-11e9-9578-54cb90523dfb.png)
What should I do?

[2018-12-16 17:51] rkitover commented on #242
Try:

[code]

[2019-01-09 18:41] MindTooth commented on #224
Being able to update the Homebrew formula, and give others the benefit of the changes since 2015 would be in my eyes fair. 😄

[2019-01-11 13:34] titosemi commented on #174
Hi @rkitover,

Do you have a new ETA for the new release? 😄

[2019-03-06 01:23] edrozenberg commented on #116
Would love pre-built manpages as well. As someone else mentioned, pandoc has a few dozen dependencies that almost nobody has and nobody will want to install. I'm sure Haskell is awesome but today is not the Haskell day. Not yet!

pandoc requires:
[code]

[2019-03-06 02:28] rkitover commented on #116
@edrozenberg I have been depriving this repo of the attention it deserves for too long now, I will now rectify this situation.

[2019-03-06 02:33] edrozenberg commented on #116
Thanks! I did find the man.tar.gz separate download and used that for the packaging.

[2019-03-06 02:55] rkitover commented on #116
@edrozenberg keep in mind that the last release version is completely useless compared to the git version. That's one of the problems I need to finally fix.

[2019-06-19 09:29] XVilka opened #244 "Make a perldoc file an extension of Perl one instead of a copying"
See https://github.com/vim-perl/vim-perl/issues/271

[2019-06-19 09:31] XVilka commented on #221
It is fixed in NeoVim 0.3.6 surely, you can close this one.

[2019-06-19 09:33] XVilka commented on #210
Might be a good time to reconsider

[2019-06-23 23:00] #221 closed

[2019-06-24 15:57] rightaway commented on #210
How's the streaming support going? Any plans to have a release?

[2019-08-21 06:55] XVilka opened #245 "[Question] How to disable particular plugins in the PAGER mode"
I use both [Ale](https://github.com/dense-analysis/ale) and VIM pager plugins. For obvious reasons I want to disable some Vim features and plugins in the "less" mode.

But if I put as recommended this piece of code in my `~/.vimrc` it still starts Ale:
[code]
And if I start vimpager with `vimpager some_file.py` it will still show Ale error and warning messages. Some people suggest to use separate

[2019-08-21 19:34] rkitover commented on #245
I tried this it works for me:

[code]

Can you put your whole `.vimrc` in a gist please?

[2019-08-26 03:32] XVilka commented on #245
@rkitover here you go: https://gist.github.com/XVilka/995951e3f2ee6e991b900675d9d59696

[2019-08-26 20:13] rkitover commented on #245
I figured out the problem, my documentation is wrong and I will fix it shortly.

Where you have the line:

[code]

change it to:

[code]

Then when loading the ale plugin, use the above code:

[code]

[2019-08-26 21:06] #245 closed

[2019-09-16 07:08] mdumitru opened #246 "vimcat needs extra key press in neovim terminal"
When using vimcat from inside a neovim terminal, it freezes until a key (any key) is pressed; after the keypress, it works. From a normal terminal (not inside neovim), vimcat works as intended. vimpager works normally, even in neovim's terminal.

Running `vimcat -x` reaches a loop and messes up the terminal:

[code]
(the last line is repeated until the process is stopped)

[code]
[code]
[code]

[2019-11-02 18:40] Benjamin-Connelly commented on #242
I had two issues.

1. AppArmor - I saw lines in /var/log/audit/audit.log
`type=AVC msg=audit(1572718868.558:592): apparmor="DENIED" operation="ptrace" profile="/usr/bin/man" pid=31610 comm="ps" requested_mask="read" denied_mask="read" peer="unconfined"
type=AVC msg=audit(1572718868.558:593): apparmor="DENIED" operation="ptrace" profile="/usr/bin/man" pid=31610 comm="ps" requested_mask="read" denie

[2019-11-05 22:36] rkitover commented on #242
@Benjamin-Connelly thanks for the report, the apparmor issue will require some work.

[2019-11-18 02:23] plurry opened #247 "Monitor file for changes"
Is there a way to watch files like `less +F` or `tail -f` (or `tail -F` ideally)?

[2019-11-18 02:42] rkitover commented on #247
Not until I implement streaming which I keep promising to do for years now.

[2019-11-18 02:50] rkitover commented on #247
Actually I can implement this in the meantime:

https://unix.stackexchange.com/a/417939/340856

[2019-11-18 03:31] rkitover commented on #247
Also the less `F` behavior which is the equivalent of `tail -f` has already been implemented, even in the distro standard less.vim.

[2019-11-18 05:05] rkitover commented on #247
Given that `F` does what you want and the behavior for less is similar, and less does not have a command-line option for this, and the `-f` option for less does an entirely different thing (force) do you think a command-line option would be helpful?

[2019-11-18 08:29] plurry commented on #247
Running `less +F file` does what running `less file` then pressing <kbd>Shift</kbd> + <kbd>f</kbd> does.

For my particular use case, I have a script that opens several `tmux` panes with different log files. Right now I'm using `tail -F`, which monitors the file name instead of the file descriptor and is perfect for logs that might get rolled over while you're watching them.

But, it would be nice

[2019-11-18 14:39] rkitover commented on #247
I see, so I can implement the `+F` command-line option.

When this behavior is in effect, do you want the buffer to scroll to the very end on new output or do you want it to retain position and only move to the end when you press `G`?

[2019-11-18 19:33] plurry commented on #247
Scroll to the end. It's what `less` does for one thing, and if you're imitating the flag, you might as well imitate the behavior. It's also what I'd prefer anyway.

[2019-12-17 15:58] #247 closed

[2019-12-17 15:59] rkitover commented on #247
I have implemented the `+F` command-line option and replaced the `F` tail code with better timer-based code.

[2020-01-07 19:54] #246 closed

[2020-02-08 11:08] anthraxx opened #249 "new git release tag"
Hi,
I'm a packager of a distro and I would like to kindly ask if you could create a new git release tag? Would be awesome to see an official update since 2015 :)

cheers

[2020-02-08 19:57] rkitover commented on #249
Well, last time I was doing most of my work on this repo, I was planning to finally implement streaming and do a new release etc.. but then life got in the way.

But you're right, I'm going to take some time off my other projects and get a release out, even if it's without streaming for now.

[2020-03-24 09:17] mancausoft opened #250 "vimcat of a directory will freeze the process"
I was trying vimcat and i press enter before finish the command... and use it on a directory
output:
[code]
But the process is still open, and CTRL+C dosen't works...
I had to do a CTRL + Z put in background and use kill -9 to kill it...

[2020-03-24 09:50] Alpt commented on #250
Here is a workaround. Put this in your bashrc and change PATH-TO-VIMPAGER

[code]

[2020-03-24 18:15] #250 closed

[2020-06-23 18:19] rkitover opened #251 "vimcat: do not stream small files"
Putting this here for tracking purposes.

For smaller files, we do not want to use the streaming functionality so that things like modelines will take effect.

Also it will be faster without the overhead of the streaming mechanism.

[2020-07-20 07:57] assistcontrol commented on #249
Many, if not most, of your downstream consumers who install from OS-provided packages are using vimpager from more than 5 years ago, because that's the last time a release was made. Vimpager of today is a much faster and more modern experience, but those users will never know it until Vimpager cuts a new release.

I echo @anthraxx in urging you to tag a new release. Releases don't need to be perfe

[2020-08-27 18:06] sinback opened #254 "plays very poorly with python helptext"
I gave this pager a shot and it seems neat but I have to stop using it today over realizing that it's the source of something extremely annoying I've been seeing in the helptext for _all_ of my python implementations. (In this case, that means the python2 which comes with Ubuntu 18.04, the default python3 which comes with Ubuntu 18.04, as well as a python3.7 which is in a virtual environment). In

[2020-08-27 21:58] #254 closed

[2020-08-27 22:00] rkitover commented on #254
This is fixed in master, please update your git clone.

I'd like to get proper syntax highlighting to work for python, I'll look into it later hopefully.

As for selecting text in vim, try holding `SHIFT` or `ALT` while you select text to not enter visual mode, also see:

https://stackoverflow.com/questions/3961859/how-to-copy-to-clipboard-in-vim

[2020-08-28 23:33] damnskippy opened #255 "system clipboard is clobbered"
Using vim 8.2 patch 769 on linux, I notice that whenever I pipe something through vimpager the system clipboard gets wiped out.  Best I could isolate this down to is that this is related to my `clipboard` setting in vimrc.  When I set `clipboard` to `unnamedplus` (which is my preferred setting) in vimrc then the system clipboard is clobbered after invoking vimpager.
If I don't set the vim clipboar

[2020-08-29 07:18] rkitover commented on #255
I've reproduced your issue on vim 8.1 in ubuntu with the vim-gtk3 package.

[2020-08-30 01:19] damnskippy commented on #255
Thanks - but unfortunately I still see the issue with this change for whatever reason :(

[2020-08-30 11:31] rkitover commented on #255
I cannot reproduce this anymore after this change, both the selection buffer and the clipboard are intact after vimpager exits.

I am using vim 8.2 patch level 814 on gentoo with X support.

Can you see if you can reproduce this issue with this minimal `vimrc`:

[code]

Thanks!

[2020-08-30 15:13] damnskippy commented on #255
Still a mystery.
I had tried yesterday with only the clipboard setting as the only line in my vimrc yesterday and could repro the issue.
I just tried now with the minimal vimrc above and see the issue.  I also pulled the latest vim sources and compiled, so now I'm up to 8.2 patch 1544.  On ubuntu xenial (16.04), FWIW.
Removing the clipboard setting from my vimrc avoids the issue in all these cases

[2020-08-30 15:19] damnskippy commented on #255
Some quirk about something somewhere in X might be causing this is my guess.
For now I removed the conditional in vimrc I was using for work around, and instead aliased `less` to a simple wrapper shell script in which I unset DISPLAY first and then call vimpager from there.  This preserves the clipboard for me.

[2020-08-30 21:59] rkitover commented on #255
To be clear, you are talking about the X clipboard and not the selection buffer?

I forgot to mention, when you are testing the minimal `vimrc` example, also move your `~/.vim` out of the way so that no scripts get autoloaded.

When you load `vimpager`, what are the values of:

[code]

[2020-08-31 00:42] damnskippy commented on #255
Some additional observation: I see that the issue of clipboard getting wiped occurs only in passthrough mode.  If the piped contents don't fit the screen and vim is opened, then everything works as expected, clipboard contents are not lost.

The clipboard I'm referring to has its contents created via `xsel -i --clipboard`.  This is actually done via the tmux `copy-command` setting, FWIW.

With the